<div class="root">
    <div class="div_loading" [hidden]="!loading">
        <div class="my-container" class="detaile">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
    <div class="container container1">
        <div class="row" style="margin:0px !important">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col1">

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
                        <h1> {{ title }}</h1>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 subtitle">
                            {{ title2 }}
                        </div>
                        <button id="addtocart" class="default_btn" (click)="add_to_bascket()" [disabled]="loading">
                            <span [hidden]="loading" *ngIf="remain > 0">افزودن به سبد خرید</span>
                            <span [hidden]="loading" *ngIf="remain == 0">ناموجود</span>
                            <div class="spinner-border spinner-border-sm" role="status" style="margin-top:0.8rem"
                                [hidden]="!loading">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                </div>

                <div class="row" style="padding-top:1rem">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                        <p class="p1">دسته بندی</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                        <p>{{ group_title }} | بک لایت سونی</p>
                    </div>
                </div>
                <hr>


                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                        <p class="p1">وضعیت موجودی</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                        <p *ngIf="remain > 0">{{ remain }} عدد باقی مانده است</p>
                        <p *ngIf="remain == 0">ناموجود</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                        <p class="p1">قیمت</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                        <p>
                            <span>{{ price2 / 10 | number }} تومان</span>
                        </p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                        <p class="p1">درصد تخفیف</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                        <p>
                            <span>{{ discount }} %</span>
                        </p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                        <p class="p1">قیمت
                            <span>با تخفیف</span>
                        </p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                        <p>
                            <span>{{ price3 / 10 | number }} تومان</span>
                        </p>
                    </div>
                </div>
                <hr>

                <span *ngFor="let x of list_property">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                            <p class="p1">{{ x.wharehouse_group_property_title }}</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                            <p>
                                <span>{{ x.answer_title }}</span>
                            </p>
                        </div>
                    </div>
                    <hr>
                </span>


            </div><!-- col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 -->

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col1">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" *ngFor="let x of list_attachment;let i = index"
                            [ngClass]="{active: i == 0}" data-slide-to="i"></li>
                    </ul>
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item" style="height:25rem" *ngFor="let x of list_attachment;let i = index"
                            [ngClass]="{active: i == 0}" [ngStyle]="{'background-image':'url( ' + x.src + ')'}">
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>

                <div class="row">

                </div>
            </div>
        </div>

        <div class="row" style="padding:1rem">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12  right" style="margin-bottom:1rem">
                <p class="p1">توضیحات</p>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12  right">
                <p style="white-space:pre-wrap" [innerHTML]="comment">
                </p>
            </div>
        </div>



    </div>
</div>