<div class="root">
    <div class="div_loading" [hidden]="!loading">
        <div class="my-container" class="detaile">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
    <div class="container container1">
        <div class="row" style="margin:0px !important">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col1">

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
                        <h1> {{ title }}</h1>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 subtitle">
                            {{ title2 }}
                        </div>
                        <button id="addtocart" class="default_btn" (click)="add_to_bascket()" [disabled]="loading">
                            <span [hidden]="loading" *ngIf="remain > 0">افزودن به سبد خرید</span>
                            <span [hidden]="loading" *ngIf="remain == 0">ناموجود</span>
                            <div class="spinner-border spinner-border-sm" role="status" style="margin-top:0.8rem"
                                [hidden]="!loading">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                        <div class="discount_div" *ngIf="discount > 0">
                            <img src="../../../assets/img/discount.png" class="discount_image" title="یک لایت"
                                altr="یک لایت">
                            <span class="discount_number">{{ discount }}%</span>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top:2rem">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 right">
                        <p class="p1">دسته بندی</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 left">
                        <p> {{ cate_title }} </p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 right">
                        <p class="p1">کد کالا</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 left">
                        <p>{{ coding }}</p>
                    </div>
                </div>
                <hr>


                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 right">
                        <p class="p1">وضعیت موجودی</p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 left">
                        <p *ngIf="remain > 0">{{ remain }} عدد باقی مانده است</p>
                        <p *ngIf="remain == 0">ناموجود</p>
                    </div>
                </div>
                <hr>

                <span *ngIf="price2 > 0">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 right">
                            <p class="p1">قیمت</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 left">
                            <p>
                                <span>{{ price2 / 10 | number }} تومان</span>
                            </p>
                        </div>
                    </div>
                    <hr>
                </span>

                <span *ngIf="discount > 0">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 right">
                            <p class="p1">درصد تخفیف</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 left">
                            <p>
                                <span>{{ discount }} %</span>
                            </p>
                        </div>
                    </div>
                    <hr>
                </span>


                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 right">
                        <p class="p1">قیمت
                            <span *ngIf="discount > 0">با تخفیف</span>
                        </p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 left">
                        <p>
                            <span>{{ price3 / 10 | number }} تومان</span>
                        </p>
                    </div>
                </div>
                <hr>

                <span *ngFor="let x of list_property">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 right">
                            <p class="p1">{{ x.wharehouse_group_property_title }}</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 left">
                            <p>
                                <span>{{ x.answer_title }}</span>
                            </p>
                        </div>
                    </div>
                    <hr>
                </span>

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12  right" style="margin-bottom:1rem">
                        <p class="p1">توضیحات</p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12  right">
                        <p class="comment" [innerHTML]="comment">
                        </p>
                    </div>
                </div>

            </div><!-- col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 -->

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col1">
                <div id="demo" class="carousel slide" data-ride="carousel" *ngIf="list_attachment.length > 0">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" *ngFor="let x of list_attachment;let i = index"
                            [ngClass]="{active: i == 0}" data-slide-to="i"></li>
                    </ul>
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <picture class="carousel-item" *ngFor="let x of list_attachment;let i = index"
                            [ngClass]="{active: i == 0}" [ngStyle]="{'background-image':'url( ' + x.src + ')'}">
                        </picture>
                    </div>
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" data-slide="prev" *ngIf="list_attachment.length > 1">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" data-slide="next" *ngIf="list_attachment.length > 1">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 detail_left">
                    <p style="margin-top:3rem">نحوهٔ خرید از فروشگاه</p>
                </div>
                <div class="row" style="margin-top:1rem">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 right">
                        <p class="p1">
                            <mat-icon>
                                local_shipping
                            </mat-icon>
                            امکان ارسال به سراسر ایران
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-top:1rem">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 right">
                        <p class="p1">
                            <mat-icon>
                                storefront
                            </mat-icon>
                            امکان پرداخت در محل
                        </p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row rowboxes">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 rowboxesheader">
                <h4>سایر کالاها {{ cate_title }}</h4>
            </div>
            <div class="owl-carousel owl-theme">
                <ul *ngFor="let x of list_other_goods"
                    (click)="open(x.wharehouse_material_id,x.wharehouse_material_title)">
                    <div class="discount_div" *ngIf="x.wharehouse_material_discount > 0">
                        <img src="../../../assets/img/discount.png" class="discount_image" title="بک لایت"
                            altr="بک لایت">
                        <span class="discount_number">{{ x.wharehouse_material_discount }}%</span>
                    </div>
                    <li class="item" class="cursor">
                        <img [src]="x.logo" [title]="x.wharehouse_material_title" [alt]="x.wharehouse_material_title"
                            loading="lazy">
                        <h5>{{ x.wharehouse_material_title | substr:0:45 }}</h5>
                        <h6 class="price">{{ x.wharehouse_material_price3 | number }} تومان</h6>
                    </li>
                </ul>

            </div>
        </div>
    </div>


</div>