@media only screen and (max-width: 1400px) {
    .container1 {
        max-width: 71rem !important;
    }
}

@media only screen and (max-width: 576px) {
    .col1 {
        padding: 0 1rem !important
    }

    .carousel-inner {
        margin-top: 2rem;
    }

    .container1 {
        max-width: 71rem !important;
        padding: 2rem 0rem 8rem 0rem;
    }
}

@media only screen and (min-width: 576px) {
    .col1 {
        padding: 0 1rem !important
    }
}


.comment {
    line-height: 2.3rem;
    color: rgba(0, 0, 0, 0.69)
}

.carousel-item {
    height: 30rem;
    border-radius: 1.2rem;
    border: solid 1px #ccc
}


.price {
    color: #FD461D !important;
    text-align: center;
}

.rowboxes h2 {
    font-size: 0.8rem;
    color: #636262;
    text-align: center;
    line-height: 1.6rem;
}

.rowboxesheader {
    padding-right: 1rem !important;
    padding-bottom: 2rem;
}

.rowboxesheader h3 {
    display: inline-block;
    border-bottom: solid 1px red;
    font-size: 1rem;
    padding-bottom: 1rem;
}



.container1 {
    max-width: 71rem !important;
}

.discount_image {
    width: 3rem;
}

.discount_number {
    position: absolute;
    top: 0.15rem;
    left: 0.8rem;
    color: #fff;
    font-size: 0.75rem;
}

.discount_div {
    width: 3rem !important;
    position: absolute;
    display: inline;
}



h1 {
    color: rgba(0, 0, 0, .87);
    font-size: 1rem;
    font-weight: 500;
    line-height: 2;
    margin: 0;
    display: inline;
}

.container1 {
    padding: 2rem 0rem 3rem 0rem;
    min-height: 40rem;
}

.header {
    background-color: #366aa0;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    min-width: 8rem;
    color: #fff;
}

.root {
    background-color: #fff;
}


.carousel-item {
    background-size: cover;
    height: 30rem;
}

.subtitle {
    color: rgba(0, 0, 0, .56);
    font-size: .875rem;
    font-weight: 400;
    line-height: 2;
    margin: 8px 0 16px;
    padding: 0;
    text-align: left;
    direction: ltr;
}

.p1 {
    color: rgba(0, 0, 0, .56)
}

.carousel-control-prev-icon {
    background-color: #000;
}


.carousel-control-next-icon {
    background-color: #000;
}


.button1 {
    background-color: #a62626 !important;
    align-items: center;
    background-color: rgba(0, 0, 0, .56);
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 500;
    height: 2.5rem;
    justify-content: center;
    line-height: normal;
    min-width: 6rem;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    -webkit-transition: color .36s ease, background-color .36s ease, box-shadow .36s ease, border-color .36s ease, -webkit-transform .36s ease;
    transition: color .36s ease, background-color .36s ease, box-shadow .36s ease, border-color .36s ease, -webkit-transform .36s ease;
    transition: color .36s ease, background-color .36s ease, box-shadow .36s ease, border-color .36s ease, transform .36s ease;
    transition: color .36s ease, background-color .36s ease, box-shadow .36s ease, border-color .36s ease, transform .36s ease, -webkit-transform .36s ease;
}