@media screen and (max-width: 576px) {
    h1 {
        line-height: 2.5rem;
    }

    .all-goods-detaile-ul {
        display: none;
    }

    .detail_left .left ul {
        padding: 0px 5px;
    }

    .detail_left #detail_service ul li {
        width: 50%;
    }
}

@media screen and (min-width: 576px) {
    .detail_left .left ul {
        padding: 40px 5px;
    }

    .detail_left #detail_service ul li {
        width: 20%;
    }
}

.detail_left .left ul {
    float: left;
}

.h1_title_en {
    text-align: right;
}

h1 {
    font-size: 1.3rem;
}



.comment-detail {
    text-align: justify;
}


#breadcrumbs {
    height: 40px;
    background: #ffffff;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 2px 3px #e1e1e1;
}

.container-fluit {
    padding: 0px;
    background-color: #fff;
}

.goods-detaile_seller {
    text-align: right;
    font-weight: 500;
    padding: 1rem;
    padding-right: 0px;
    font-size: 1.2rem;
}

.all-goods-detaile-div3 {
    background: #F7F7F7;
    padding-right: 0.5rem !important;
    border-radius: 0.5rem;
}


.main_product {
    overflow-x: hidden;
}

#main_product {
    margin: 0px auto;
    border-radius: 4px;
    padding: 0;
}

#main_product::after {
    content: ' ';
    clear: both;
    display: block;
}

#detal_div {
    background: #ffffff;
    float: right;
    width: 100%;
    box-shadow: 0 2px 3px #e1e1e1;
    border-radius: 4px;
    padding-top: 2rem
}

#offer {
    background: #fff5f5 url(../../../assets/images/amazing-offer.png) no-repeat scroll 97% center;
    height: 60px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
}

.timer {
    float: left !important;
    margin: -20px 0 0 -135px !important;
    position: static !important;
    transform: scale(0.35) !important;
}

#offer .discount {
    display: block;
    height: 30px;
    left: 230px;
    position: absolute;
    top: 15px;
    width: 180px;
    border-radius: 4px;
    overflow: hidden;
}

#offer .discount .right {
    width: 105px;
    display: block;
    height: 100%;
    background: #ff5252;
    float: right;
}

#offer .discount .left {
    width: 75px;
    display: block;
    height: 100%;
    background: #e54949;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

#offer .discount .right .currency {
    color: #ffffff;
    float: left;
    font-family: 'yekan', serif;
    font-size: 14px;
    line-height: 12px;
    padding: 2px 10px;
    text-align: center;
    width: 35px;
}

#offer .discount .right .num {
    color: #ffffff;
    float: right;
    font-family: 'yekan', serif;
    font-size: 22px;
    line-height: 1;
    padding: 2px 11px 0 0;
    text-align: center;
    width: 35px;
}

#details {
    padding: 10px;
}

#details .share {
    float: right;
    width: 100%;
    height: 85px;
}

#details .detail_right {
    float: right;
    text-align: right;
    padding-top: 1rem;
    color: #767790;
    font-size: 0.85rem;
}

.all-goods-detaile-div1 {
    padding-bottom: 1rem;
}

.right {
    padding-right: 0px !important;
}

hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.all-goods-detaile-div2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.goods_detaile_seller_title_text1 {
    color: #767790
}

.goods_detaile_seller_title {
    text-align: right;
    color: #3f4064;
}

#details .detail_left {
    float: right;
    text-align: right;
}


#details .detail_right .share {
    float: left;
}

#details .detail_right .share .social {
    background: url(../../../assets/images/slices.png) no-repeat -213px -187px;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    padding: 0 5px;
}

#details .detail_right .share .addtofav {
    background: url(../../../assets/images/slices.png) no-repeat -160px -187px;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    padding: 0 5px;
}

#details .detail_right .share i {
    margin-top: 25px;
    cursor: pointer;
}

#details .detail_right .gallery {
    width: 100%;
    float: right;
    padding: 5px;
}

#details .detail_right .gallery .zoom-image {
    width: 100%;
    float: right;
    text-align: center;
    position: relative;
    max-height: 27rem;
}

#details .detail_right .gallery .zoom-image #smallicon3D {
    width: 32px;
    height: 32px;
    background: url(../../../assets/images/slices.png) no-repeat -415px -121px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid #e1e1e1;
    cursor: pointer;
}

#details .detail_right .gallery ul {
    padding: 0px 0;
    float: right;
    width: 100%;
}

#details .detail_right .gallery ul li {
    float: right;
    width: 75px;
    height: 68px;
    margin-right: 10px;
    border: 1px solid #e1e1e1;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
}

#details .detail_right .gallery ul li i {
    background: url(../../../assets/images/slices.png) no-repeat -568px -6px;
    display: block;
    height: 48px;
    width: 26px;
    margin-right: 24px;
}

#details .detail_right .gallery img {
    z-index: 4;
    max-height: 26rem;
}


#details .detail_left .title {
    font-family: 'yekan', serif;
    font-size: 18px;
    color: #000;
    padding: 10px15px;
    border-radius: 2px;
    float: right;
    width: 100%;
    padding-bottom: 0.5rem;
}

#details .detail_left .header_title {
    float: right;
}

#details .detail_left .title strong {
    font-family: serif;
    font-size: 13px;
    color: #777777;
    margin-top: 0.7rem;
    display: block;
}

#details .detail_left .offer-num {
    float: left;
    width: 170px;
    padding: 10px 0;
}

#details .detail_left .offer-num i {
    height: 39px;
    background: url(../../../assets/images/slices.png) no-repeat -155px -540px;
    width: 30px;
    display: block;
    float: right;
    margin-left: 10px;
}

#details .detail_left .offer-num span {
    text-align: center;
    color: #777777;
    font-size: 14px;
    font-family: 'yekan', serif;
    display: block;
}

#details .detail_left .offer-num span strong {
    text-align: center;
    color: #ff5252;
    float: right;
    font-size: 14px;
    font-family: 'yekan', serif;
}

#details .detail_left .right {
    float: right;
}

#details .detail_left .right h4 {
    font-size: 1.2rem;
    color: #000;
    float: right;
}

#details .detail_left .left {
    float: right;
}

.comment {
    margin: 1rem 1rem !important;
    text-align: right;
    line-height: 2rem;
    color: #777;
}

#details .colors li {
    width: 85px;
    height: 28px;
    float: right;
    margin-left: 6px;
    list-style: none;
    border: 1px solid #eeeeee;
    background: #ffffff;
    font-size: 12px;
    font-family: 'yekan', serif;
    color: #777777;
    padding-right: 35px;
    line-height: 28px;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

#details .colors {
    padding: 0;
    float: right;
    width: 100%;
    margin-bottom: 20px;
}

#details .colors li .circle {
    border-radius: 100%;
    content: ' ';
    display: inline-block;
    float: right;
    height: 18px;
    margin-left: 5px;
    margin-right: -23px;
    margin-top: 4px;
    vertical-align: middle;
    width: 18px;
}

#details .colors li.active {
    background: #fafbfc !important;
}

#details .colors li .circle.active::after {
    content: ' ';
    display: block;
    height: 10px;
    position: absolute;
    right: 16px;
    top: 9px;
    width: 10px;
    background: url(../../../assets/images/slices.png) -170px -83px;
}

.selectlist {
    width: 390px;
    height: 37px;
    background: #fafbfc;
    float: right;
    border: 1px solid #eeeeee;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
}

.selectlist span {
    font-size: 14px;
    color: #777777;
    line-height: 36px;
    margin-right: 40px;
}

.selectlist::before {
    background: url(../../../assets/images/slices.png) no-repeat scroll -138px -79px;
    content: ' ';
    display: block;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 9px;
    width: 25px;
}

.selectlist::after {
    background: url(../../../assets/images/slices.png) no-repeat scroll -31px -461px;
    content: ' ';
    display: block;
    height: 17px;
    left: 8px;
    position: absolute;
    top: 12px;
    width: 22px;
}

.selectlist.active::after {
    background: url(../../../assets/images/slices.png) no-repeat scroll -31px -749px;
    content: ' ';
    display: block;
    height: 17px;
    left: 8px;
    position: absolute;
    top: 12px;
    width: 22px;
}

.selectlist ul {
    padding: 0;
    box-shadow: 0 2px 2px #cacaca;
    margin-top: 3px;
    cursor: pointer;
    display: none;
    background: #ffffff;
}

.selectlist ul li {
    font-size: 14px;
    color: #777777;
    font-family: 'yekan', serif;
    padding: 5px 10px;
}

.selectlist ul li:hover {
    background: #fafbfc;
}

#price {
    float: right;
    width: 100%;
    margin: 1rem 0 1rem 0rem;
}

#price .lbl {
    font: 15px yekan;
    color: #777777;
    float: right;
}

#price .num {
    color: #999;
    font: 15px yekan;
    padding: 0 6px 0 4px;
    text-decoration: line-through;
    float: right;
}

#price .currency {
    color: #777777;
    float: right;
    font: 12px/23px yekan;
    margin-right: 10px;
}

#price .discount {
    width: 135px;
    height: 22px;
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 1px;
    position: relative;
}

#price .discount .right {
    width: 4rem;
    height: 100%;
    float: right;
    display: block;
    color: #ffffff;
    background: #ff7272;
    font: 12px yekan;
    text-align: center;
    line-height: 1.6rem;
}

#price .discount .right::before {
    border-bottom: 4px solid transparent;
    border-right: 4px solid #ffffff;
    border-top: 5px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 6px;
}

#price .discount .left {
    width: 3rem;
    height: 100%;
    float: right;
    display: block;
    color: #ffffff;
    background: #ff5252;
    font-size: 1rem;
    text-align: center;
    line-height: 27px;
}

#priceforu {
    float: right;
    width: 100%;
    padding-top: 1rem
}

#priceforu .lbl {
    font: 18px yekan;
    color: #4d4d4d;
    float: right;
}

#priceforu .num {
    color: #4caf50;
    font: 23px/24px yekan;
    float: right;
    margin-right: 15px;
}

#priceforu .currency {
    color: #4caf50;
    float: right;
    font: 12px/28px yekan;
    margin-right: 15px;
}

#addtocart {
    width: 100%;
    float: right;
    margin: 30px 0;
    text-align: center;
}



#addtocart .addtocart_btn:hover {
    background-color: #4aa64e;
    transition: background-color 150ms ease 0s;
}

#addtocart .addtocart_btn i {
    background: #62b965 url(../../../assets/images/slices.png) no-repeat -144px -413px;
    position: absolute;
    width: 54px;
    height: 38px;
    right: 0;
    top: 0;
    display: block;
}

.detail_left #detail_service {
    background: #ffffff;
    width: 100%;
    line-height: 60px;
    float: right;
    border-top: 1px solid #e1e1e1;
}

.detail_left #detail_service ul {
    padding: 0;
    font-size: 11px;
}

.detail_left #detail_service ul li {
    float: right;
    list-style: none;
}

.detail_left #detail_service ul li a {
    width: 100%;
    display: block;
    text-align: center;
    color: #a3a3a3;
}

.detail_left #detail_service ul li a:hover {
    color: #6f6f6f;
}

.detail_left #detail_service ul li a i {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(../../../assets/images/slices.png);
    vertical-align: middle;
}

.detail_left .left ul li {
    list-style: outside;
    line-height: 25px;
    font-size: 10px;
    padding-right: 10px;
    color: #777777;
    text-align: right;
}

.all-goods-u1 {
    padding-right: 0.6rem;
}

.li_title {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.15;
    color: #767790;
}

.detail_left .left ul li .li_title {
    color: #777777;
    font-size: 0.85rem;
}

.detail_left .left ul li .li_detail {
    color: #aaa;
    font-size: 0.75rem;
    padding-right: 4px;
}

.detail_left .left ul {
    float: left;
}

#introduction {
    float: right;
    width: 100%;
    height: 430px;
    margin-top: 15px;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 3px #e1e1e1;
    overflow: hidden;
    position: relative;
    text-align: right;
}

#introduction.active {
    height: auto;
    padding-bottom: 130px;
}

h4 {
    font-size: 1rem;
    line-height: 2.5rem;
}


.header {
    font-weight: 900;
}




#introduction .header {
    font: 20px yekan;
    margin-right: 20px;
}

#introduction h4 {
    font: 13px yekan;
    color: #777777;
    margin: 20px;
}

#introduction p {
    font: 15px yekan;
    color: #777777;
    margin: 20px;
    line-height: 30px;
    text-align: justify;
}

#introduction .more {
    font: 15px yekan;
    display: block;
    color: #777777;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    padding: 10px 0;
    float: right;
}

#introduction .more::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
    bottom: 30px;
    content: '';
    height: 105px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
    float: right;
    padding-top: 40px;
}

#introduction i {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: -29px;
    top: 9px;
    background: url(../../../assets/images/slices.png) no-repeat -36px -543px;
}

#introduction i.active {
    background: url(../../../assets/images/slices.png) no-repeat -36px -706px;
}

#introduction span {
    position: relative;
}




#section_comment .comment_result {
    width: 510px;
    float: right;
}

#section_comment .comment_send {
    width: 630px;
    float: left;
}

.comment_result .row {
    width: 100%;
    float: right;
    margin-top: 10px;
}

.comment_result .row ul {
    padding: 0;
    height: 8px;
    float: left;
    margin-top: 6px;
    margin-right: 10px;
}

.comment_result .row ul li {
    width: 64px;
    height: 100%;
    float: right;
    background: #f7f9fa;
    border-left: 1px solid #ffffff;
}

.comment_result .row ul li span {
    display: block;
    height: 100%;
    background: #69ca6d;
}

.comment_result .row .title {
    width: 160px;
    float: right;
    display: block;
    font: 13px yekan;
    color: #555555;
}

.comment_send .stars {
    float: right;
    cursor: default;
    margin-top: 30px;
    margin-right: 20px;
}

.comment_send .stars_gray {
    width: 102px;
    height: 14px;
    background: url(../../../assets/images/stars_grey.png) repeat 0 -15px;
    margin-left: 10px;
    position: relative;
}

.comment_send .stars_red {
    width: 50%;
    height: 14px;
    background: url(../../../assets/images/stars_grey.png) repeat 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.comment_send .star_num {
    font: 13px yekan;
    color: #777777;
    float: right;
    margin-top: 27px;
}

.comment_send p {
    float: right;
    padding: 5px;
    display: block;
    width: 100%;
}

.comment_send .title {
    font: 16px yekan;
    color: #777777;
}

.comment_send .detail {
    font: 16px yekan;
    color: #777777;
}

.comment_send button {
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

#comments {
    padding-top: 30px;
    float: right;
    width: 100%;
}

#section_comment #comments .comment_num {
    float: right;
    line-height: 64px;
    padding-right: 10px;
}

.horizental-row {
    margin-top: -15px !important;
}

#comments .comment {
    float: right;
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

#comments .comment .comment_head {
    height: 55px;
    background: #f5f6f7;
    font: 14px yekan;
}

#comments .comment .comment_content {
    width: 100%;
    float: right;
    margin: 30px 15px;
}

#comments .comment .comment_head .right {
    float: right;
    margin: 5px;
}

#comments .comment .comment_head .left {
    float: left;
}

#comments .comment .comment_head .left span {
    float: right;
}

#comments .comment .comment_head .left .like,
#comments .comment .comment_head .left .dislike {
    background: #ffffff;
    border: 1px solid #e3e4e6;
    border-radius: 2px;
    color: #91a2ad;
    cursor: pointer;
    display: block;
    float: right;
    height: 23px;
    line-height: 23px;
    margin-left: 10px;
    margin-top: 18px;
    width: 40px;
    padding: 0 9px 0 10px;
}

#comments .comment .comment_head .left .dislike .num {
    float: left;
}

#comments .comment .comment_head .left .like .num {
    float: left;
}

#comments .comment .comment_head .left .poll {
    color: #555555;
    font: 14px yekan;
    margin-left: 20px;
    margin-top: 20px;
}

#comments .comment .comment_head .right .author {
    font: 18px yekan;
    color: #555555;
    display: block;
    margin-right: 20px;
}

#comments .comment .comment_head .right time {
    color: #777777;
    font: 11px yekan;
    display: block;
    margin-right: 20px;
}

#comments .comment .comment_content .right {
    float: right;
    width: 400px;
}

#comments .comment .comment_content .right .row {
    width: 100%;
    float: right;
    margin-top: 10px;
}

#comments .comment .comment_content .right .row ul {
    padding: 0;
    height: 8px;
    float: left;
    margin-top: 6px;
    margin-right: 10px;
}

#comments .comment .comment_content .right .row ul li {
    width: 39px;
    height: 100%;
    float: right;
    background: #f7f9fa;
    border-left: 1px solid #ffffff;
}

#comments .comment .comment_content .right .row ul li span {
    display: block;
    height: 100%;
    background: #a1a6b5;
}

#comments .comment .comment_content .right .row .title {
    width: 160px;
    float: right;
    display: block;
    font: 13px yekan;
    color: #555555;
}

#comments .comment .comment_content .left {
    float: right;
    width: 700px;
    margin-right: 50px;
}

#comments .comment .comment_content .left .subject {
    color: #555555;
    font: 16px yekan;
    margin-top: 10px;
}

#comments .comment .comment_content .left .comment-eva {
    float: right;
    width: 100%;
}

#comments .comment .comment_content .left .comment-eva .ghovat {
    color: #555555;
    font: 14px yekan;
    width: 50%;
    float: right;
}

#comments .comment .comment_content .left .comment-eva .ghovat .title {
    color: #4caf50;
    font: 14px yekan;
    display: block;
}

#comments .comment .comment_content .left .comment-eva .ghovat ul,
.zaf ul {
    padding: 0;
}

#comments .comment .comment_content .left .comment-eva .ghovat ul li,
.zaf ul li {
    position: relative;
    margin-top: 3px;
}

#comments .comment .comment_content .left .comment-eva .ghovat ul li span,
.zaf ul li span {
    margin-right: 20px;
}

#comments .comment .comment_content .left .comment-eva .ghovat ul li i {
    background: url(../../../assets/images/slices.png) no-repeat -222px -83px;
    width: 7px;
    display: block;
    height: 10px;
    position: absolute;
    right: 0;
    top: 5px;
}

#comments .comment .comment_content .left .comment-eva .zaf ul li i {
    background: url(../../../assets/images/slices.png) no-repeat -222px -83px;
    width: 7px;
    display: block;
    height: 10px;
    position: absolute;
    right: 0;
    top: 5px;
}

#comments .comment .comment_content .left .comment-eva .zaf ul li i {
    background: url(../../../assets/images/slices.png) no-repeat -247px -83px;
    width: 7px;
    display: block;
    height: 10px;
    position: absolute;
    right: 0;
    top: 5px;
}

#comments .comment .comment_content .left .comment-eva .zaf {
    color: #555555;
    font: 14px yekan;
    width: 50%;
    float: right;
}

#comments .comment .comment_content .left .comment-eva .zaf .title {
    color: #ff5153;
    font: 14px yekan;
    display: block;
    width: 100%;
}

#comments .comment .comment_content .left .comment-text p {
    color: #555555;
    font: 16px yekan;
    text-align: justify;
    width: 100%;
    float: right;
}

#section_faq textarea {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    height: 145px;
    padding: 10px;
    width: 98%;
    resize: none;
}

#section_faq button {
    float: left;
    margin: 20px 0;
}

#section_faq .question-container {
    float: right;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 8px;
    width: 100%;
}

#section_faq .question-container .question-head {
    height: 37px;
    background: #e8e9eb;
    position: relative;
    float: right;
    width: 100%;
}

#section_faq .question-container .question-head i {
    background: url(../../../assets/images/slices.png) no-repeat -284px -126px;
    height: 20px;
    width: 20px;
    margin-left: 9px;
    top: 7px;
    position: absolute;
    right: 15px;
}

#section_faq .question-container .question-head span {
    color: #555555;
    font: 14px/35px yekan;
    margin-right: 40px;
}

#section_faq .question-container .question-head .author {
    color: #555555;
    font: 14px/35px yekan;
    margin-left: 10px;
    float: left;
}

#section_faq .question-container .question-head .author span {
    margin-right: 2px;
}

#section_faq .question-container .question-content {
    background: #f5f6f7 none repeat scroll 0 0;
    color: #555;
    font-size: 12.7px;
    line-height: 25px;
    float: right;
    width: 100%;
}

#section_faq .question-container .question-content p {
    padding: 17px 15px 23px;
}

#section_faq .question-container .response {
    float: right;
    width: 100%;
}

#section_faq .question-container .response p {
    color: #555;
    font: 12.7px/25px yekan;
}

#section_faq .faq-answer {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 88px;
}

#section_faq .faq-answer span {
    color: #2196f3;
    font: 12px yekan;
    cursor: pointer;
}

#section_faq i {
    background: url(../../../assets/images/slices.png) -29px -596px;
    position: absolute;
    display: block;
    height: 18px;
    width: 18px;
    top: 5px;
    left: 120px;
    cursor: pointer;
}

#section_faq .response .like,
.dislike {
    background: #ffffff;
    border: 1px solid #e3e4e6;
    border-radius: 2px;
    color: #91a2ad;
    cursor: pointer;
    display: block;
    float: right;
    height: 23px;
    line-height: 23px;
    margin-left: 10px;
    margin-top: 18px;
    width: 40px;
    padding: 0 9px 0 10px;
    position: relative;
}

#section_faq .response .like i,
.dislike i {
    background: url(../../../assets/images/slices.png) no-repeat 0 0;
    width: 14px;
    height: 16px;
    display: block;
    position: absolute;
}

#section_faq .response .like i {
    background-position: -305px -190px;
    right: 7px;
    top: 4px;
}

#section_faq .response .dislike i {
    background-position: -267px -193px;
    right: 7px;
    top: 7px;
}

#section_faq .reply-top {
    height: 60px;
    width: 90%;
    margin: 0 auto;
    display: block;
}

#section_faq .response .left {
    float: left;
    display: block;
}

#section_faq .response .right {
    float: right;
    width: 100px;
    margin-right: 10px;
}

#section_faq .response .right h4 {
    font: 14px yekan;
    color: #555555;
}

#section_faq .response .right time {
    font: 11px yekan;
    color: #777777;
    display: block;
}

#section_faq .response .left .dislike .num {
    float: left;
}

#section_faq .response .left .like .num {
    float: left;
}

#section_faq .response .reply-response {
    float: right;
    margin-right: 10px;
    margin-top: -22px;
    width: 100%;
}

#section_faq .response .reply-response h4 {
    font: 14px yekan;
    color: #4caf50;
    width: 100%;
    display: block;
    width: 100%;
}

#section_faq .response .reply-response .text {
    font: 14px yekan;
    color: #777777;
    display: block;
}

#product_gallery {
    width: 1250px;
    height: 600px;
    position: fixed;
    background: #ffffff;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 6;
    border-radius: 2px;
    display: none;
}

#product_gallery .title-product {
    background-color: #f0f1f2;
    height: 50px;
    overflow: hidden;
    position: relative;
    text-align: right;
    width: 100%;
    margin: 0;
}

#product_gallery .close {
    background: #ebeced url(../../../assets/images/slices.png) no-repeat scroll -134px -123px;
    border: 1px solid #d6d9df;
    border-radius: 100%;
    display: block;
    height: 28px;
    left: 15px;
    position: absolute;
    top: 12px;
    width: 28px;
    cursor: pointer;
}

#product_gallery .title-product h4 {
    color: #555555;
    font: 14px yekan;
    margin: 15px;
}

#product_gallery .right {
    width: 1048px;
    height: 548px;
    float: right;
    text-align: center;
}

#product_gallery .right img {
    max-height: 481px;
    margin-top: 25px;
}

#product_gallery .left {
    width: 200px;
    float: left;
    border-right: 1px solid #dddddd;
    height: 548px;
}

#product_gallery .left ul {
    padding: 0;
}

#product_gallery .left ul li {
    width: 100%;
    height: 130px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    opacity: 0.6;
    position: relative;
    cursor: pointer;
}

#product_gallery .left ul li .icon3d {
    background: url(../../../assets/images/slices.png) no-repeat -363px -117px;
    width: 39px;
    height: 39px;
    display: block;
    position: absolute;
    left: 4px;
    bottom: 4px;
}

#product_gallery .left ul li.active {
    opacity: 1;
}

#product_gallery .left ul li img {
    max-width: 115px;
    max-height: 115px;
    margin-top: 7px;
}

#dark {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}

#cv {
    display: none;
}