<div class="div_loading">
    <div class="my-container" [hidden]="!loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col   -sm-12">
            <table class="table table-bordered">
                <tr>
                    <td colspan="5">(فروشگاه اىجمه تعمیرکاران ایران) صورتحساب فروش </td>
                    <td rowspan="7">5</td>
                    <td rowspan="7">5</td>
                    <td rowspan="7">5</td>
                </tr>
                <tr>
                    <td style="width:50%"></td>
                    <td style="width:50%" colspan="4"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3"></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>