<div class="row" style="padding:0.3rem 0.8rem">
    <mat-list role="list">
        <mat-list-item role="listitem" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-menu cursor">
            <span class="profile-menu-icon-span">
                <mat-icon class="profile-menu-icon">account_circle</mat-icon>
            </span>
            <span>{{ user_title }}</span>
        </mat-list-item>
        <mat-list-item role="listitem" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-menu cursor"
            [routerLink]="['/shopping/bascket']">
            <span class="profile-menu-icon-span">
                <mat-icon class="profile-menu-icon">shopping_bag</mat-icon>
            </span>
            <span>سفارش ها</span>
        </mat-list-item>
        <mat-list-item role="listitem" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-menu cursor"
            (click)="signout()">
            <span class="profile-menu-icon-span">
                <mat-icon class="profile-menu-icon">logout</mat-icon>
            </span>
            <span>خروج از حساب کاربری</span>
        </mat-list-item>
    </mat-list>
</div>