.matDialogContent {
    margin: 0rem 0 !important;
    padding: 0px !important
}

.mat-dialog-title {
    border-bottom: solid 1px #ccc;
}

.comment {
    font-size: 0.75rem !important;
    color: #AEAAAA
}

.comment2 {
    color: #e78c0a !important
}

.wating {
    color: #e78c0a !important
}

.doing {
    color: #FFD058 !important
}

.done {
    color: #AEAAAA !important
}