@media only screen and (max-width: 576px) {
    .container {
        margin-top: 2rem !important;
    }

}


.matDialogContent {
    margin: 0rem 0 !important;
    padding: 0px !important
}

.mat-dialog-title {
    border-bottom: solid 1px #ccc;
}

.comment {
    font-size: 0.75rem !important;
    color: #AEAAAA
}

.comment2 {
    color: #e78c0a !important
}

.wating {
    color: #AEAAAA !important
}



.doing {
    color: #fab506 !important
}

.done {
    color: #AEAAAA !important
}

.div1_span1 {
    font-size: 0.85rem;
}

.black {
    color: #000;
}

.div1 {
    margin-top: 1rem;
    height: 3rem;
    border-bottom: solid 1px #e0e0e6;
    padding: 0.2rem;
    padding-right: 1rem;
}

.breakpoint {
    display: inline-block;
    margin: 0 0rem 0 1rem
}

.row1 {
    border: solid 1px #ccc;
    background-color: #2C3F6E;
    color: #fff;
    margin-bottom: 2rem !important;
}