.btns {
    border: solid 1px #ccc;
    width: 10.3rem;
    margin: 0 0.15rem;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 2rem;
    height: 2.3rem;
}

.btn1 {
    background-color: #6EC0E5 !important;
}

.btn2 {
    background-color: #30B540 !important;
}