<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 box">
            <div class="row" *ngFor="let x of list_invoice">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 info-box">
                    <span class="title2 cursor" (click)="back()">
                        <mat-icon>arrow_forward</mat-icon>
                        جزئیات سفارش
                    </span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 info-box left">
                    <a href="/orders-invoice/{{ invoice_id }}" target="_blank">
                        <span class="show_invoice">
                            <mat-icon style="vertical-align: middle !important;">web_stories</mat-icon>
                            مشاهده فاکتور
                        </span>
                    </a>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 info-box">
                    <p class="title title-p">کد پیگیری سفارش<span class="answer"> {{ x.wharehouse_invoice_tracking_code
                            }} </span></p>
                    <p class="title title-p"> تاریخ ثبت سفارش<span class="answer"> {{ x.wharehouse_invoice_date
                            }} </span></p>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 info-box">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 info-box2">
                            <p class="title title-p">تحویل گیرنده<span class="answer"> {{ x.user_address_transferee }}
                                </span></p>
                            <p class="title title-p">شماره موبایل<span class="answer"> {{ x.user_address_cellphone }}
                                </span></p>
                            <p class="title title-p" *ngIf="x.user_address_code_posti">کد پستی<span class="answer"> {{
                                    x.user_address_code_posti }}
                                </span></p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="title title-p">آدرس<span class="answer"> {{ x.user_address_city }} {{
                                    x.user_address_address }} </span></p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 info-box">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 info-box2">
                            <p class="title title-p">مبلغ<span class="answer"> {{ x.wharehouse_invoice_sum / 10 |
                                    number}} تومان </span></p>
                            <p class="title title-p">پرداخت آنلاین</p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 info-box2">
                            <p class="title title-p"> هزینه ارسال (بر اساس وزن و حجم) <span class="answer"> 29،000 تومان
                                </span></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 box">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 info-box">
                    <span class="title2">اقلام خریداری شده</span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 info-box left">
                    <span class="show_invoice">{{ count | number}} عدد</span>
                </div>
            </div>

            <div class="row" *ngFor="let x of list_invoice_list">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 info-box cursor"
                    (click)="go_to_material(x.wharehouse_material_id,x.wharehouse_material_title)">
                    <img [src]="x.logo">
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12 info-box">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {{ x.wharehouse_material_title }}
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:2rem">
                            <p class="title title-p"> قیمت <span class="answer"> {{ x.wharehouse_order_cost / 10 |
                                    number
                                    }} تومان </span></p>
                            <p class="title title-p" *ngIf="x.discount > 0"> تخفیف <span class="answer"> {{ x.discount /
                                    10 | number }} تومان </span></p>
                            <p class="title title-p"> تعداد <span class="answer"> {{ x.wharehouse_order_number | number
                                    }} عدد
                                </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>