.box {
    border: solid 1px #e0e0e6;
    min-height: 11rem;
    border-radius: 1rem;
    padding: 1rem !important;
}

.box2 {
    margin-top: 1rem;
}

h3 {
    font-size: 1rem;
    margin-bottom: 0px
}

.line {
    background-color: #ef394e;
}

.line {
    border: solid 1px #ef394e;
    display: inline-block;
    width: 7rem;
    height: 0.17rem;
}