<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 box">
            <h3>سفارش های من</h3>
            <div class="line"></div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 box box2">
            <h3>لیست های من</h3>
            <div class="line"></div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 box box2">
            <h3>خریدهای پرتکرار شما</h3>
            <div class="line"></div>
        </div>

    </div>
</div>