.boxes {
    width: 100%;
    display: inline;
    text-align: center;
}

label {
    text-align: right;
    width: 55%;
    margin: 10px
}

@media screen and (max-width:576px) {

    label {
        width: 100% !important;
        margin: 10px 0px
    }

}

@media screen and (min-width:767px) {
    .login-left {
        border-right: solid #ccc;
    }

    label {
        width: 100%
    }
}

@media screen and (min-width:995px) {
    label {
        width: 70%
    }
}

.header {
    font-size: 15px;
    line-height: 40px;
    margin-top: 10px;
}

.input {
    width: 100%;
    min-height: 40px;
    border-radius: 5px 5px 0px 0px;
    border: solid 1px #ccc;
    margin-top: 5px;
    padding: 5px;
    outline: none;
    font-size: 0.8rem;
}

button {
    width: 10rem
}

h2 {
    text-align: center;
    font-size: 1.5rem !important;
    padding-top: 2rem;
}

.div1 {
    text-align: center;
    padding-top: 4rem;
}

.forget {
    text-align: right;
    font-size: 0.8rem;
    padding-right: 6rem
}

.link {
    color: blue
}