@media only screen and (max-width: 576px) {}

.header {
    font-size: 2.2rem;
    color: #002060;
    padding-top: 2rem;
    font-weight: 550;
    text-align: center;
    word-spacing: -4px;
}

.img1 {
    width: 5rem
}

.img2 {
    width: 7rem
}

.img3 {
    width: 9rem;
}

.tabs {
    text-align: center;
    color: #002060;
    font-size: 2rem;
    word-spacing: -4px;
}

.tab1 {
    text-align: right;
}

.tab2 {
    text-align: left;
}

.div-img {
    text-align: center;
}

.div-img2 {
    padding-top: 1.4rem
}

.row {
    direction: ltr;
}