<!-- Start Support Section -->
<div class="preloader" [hidden]="!loading">
    <div class="spinner"></div>
</div>
<!-- End Loader -->

<div class="container-fluid detaile-fluid3" style="padding:0.1rem 0 !important">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-lg-2 col-xs-12 sidebar1 detaile-box2">
            <div class="col-xl-12 col-lg-12 col-md-12 col-lg-12 col-xs-12 sidebar1">
                <div class="header">
                    <img class="pointer" [src]="logo" (click)="logos.click()">
                    <input type="file" (change)="change_avater3($event)" accept="image/*" style="display: none;" #logos>
                    <div class="clear"></div>
                    <div class="name">{{ title }}</div>
                    <div class="mobile">{{ cellphone }}</div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-lg-12 col-xs-12 sidebar1">

                <div class="menue">
                    <ul>
                        <li routerLinkActive="active" class="cursor">
                            <a [routerLink]="['/home/profile']">
                                <i class="fa fa-user"></i>
                                <span class="nav-label">پنل کاربری من</span>
                            </a>

                        </li>
                        <li routerLinkActive="active" class="cursor">
                            <a [routerLink]="['/home/contract']">
                                <i class="fa fa-graduation-cap"></i>
                                <span class="nav-label">
                                    قراردادهای من
                                </span>
                            </a>
                        </li>
                        <li (click)="serverService.signout()" class="cursor">
                            <a>
                                <i class="fa fa-bank"></i>
                                <span class="nav-label">خروج</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!-- ----------------------------------------------------------------- -->

        </div>
        <!-- ************************************************************************************************************* -->
        <div class="col-xl-10 col-lg-10 col-md-10 col-lg-10 col-xs-12 content1">
            <router-outlet>
            </router-outlet>
        </div><!-- col-xl-9 col-lg-9 col-md-9 col-lg-9 col-xs-12 content1 -->
    </div>
</div>