<a href="whatsapp://send?phone=+989013854630&text=" target="_blank" class="no-print">
    <img src="../../../../assets/img/whatsapp.png" class="watsup">
</a>


<footer class="no-print">
    <div class="row footer2_row">

        <div class="col-xl-3 col-lg-3 col-sm-3 col-xs-3 col-md-8">
            <a referrerpolicy="origin" target="_blank"
                href="https://trustseal.enamad.ir/?id=219926&amp;Code=Bz7Lw0XJ3AeDwuOuvyP4"><img referrerpolicy="origin"
                    src="https://Trustseal.eNamad.ir/logo.aspx?id=219926&amp;Code=Bz7Lw0XJ3AeDwuOuvyP4" alt=""
                    style="cursor:pointer" id="Bz7Lw0XJ3AeDwuOuvyP4"></a>
        </div>
    </div>
</footer>

<footer class="no-print footer footer3">
    <div class="container-fluid" style="padding:0px !important">
        <div class="row">
            <div class="col-xl-4 col-lg-54 col-sm-4 col-md-4 col-xs-12 footer-col subscription">
                <div class="title header">دسترسی سریع</div>
                <div class="content1 content">
                    <ul>
                        <li class="cursor" [routerLink]="['/about/درباره-ما']">
                            درباره ما
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-sm-4 col-md-4 col-xs-12 footer-col subscription">
                <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 col-md-12 title header">
                    گروه تجاری با ما
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 content" style="line-height:2rem">
                    آدرس: تهران، خیابان ولیعصر، بالاتر از میدان ونک، برج نگار، طبقه 21، واحد 10
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
                    تلفن: 52-88641750
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
                    فکس: 88641753
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
                    شماره موبایل: 09122106956 - 09122464846
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-sm-4 col-md-12 col-xs-12  right width-15" style="padding:0px">
                <div class="col-xl-6 col-lg-6 col-sm-6 col-6 col-md-4 right width-15 social-col telegram">
                    <i class="fa fa-telegram"></i>
                    <div class="title title3">کانال تلگرام</div>
                    <a href="https://t.me/bama" target="_blank">
                        <div class="button">
                            <span>@</span>bama
                        </div>
                    </a>
                </div>
                <div class="col-xl-6 col-lg-6 col-sm-6 col-sm-6 col-6 col-md-4  right width-15 social-col instagram">
                    <i class="fa fa-instagram"></i>
                    <div class="title title3">پیچ اینستاگرام</div>
                    <a href="https://www.instagram.com/bama" target="_blank">
                        <div class="button">
                            <span>@</span>bama
                        </div>
                    </a>
                </div>
            </div>
        </div><!-- row -->
    </div>

</footer>

<footer class="no-print footer4">
    <div class="row" style="padding-top:1rem">
        <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 col-md-8 footer2">
            <div>
                © کليه حقوق محصولات و محتوای اين وب سایت متعلق به گروه تجاری با ما می باشد.
            </div>
        </div>
    </div>
</footer>