.contact-button {
	background-color: #e32551;
	color: #fff;
	border: none;
	padding: 4px 15px;
}

.input {
	margin-top: 0px !important
}

.contact-section {
	padding-bottom: 100px;
}

.contact-title {
	text-align: center
}

h1 {
	margin: 3rem 0 2rem 0;
}

.contact-title h2 {
	font-size: 48px;
	color: #000;
	margin: -10px 0 15px
}

.contact-title p {
	font-size: 15px;
	font-weight: 500;
	line-height: 30px;
	max-width: 530px;
	margin: auto
}

.contactForm {
	margin-top: 0
}

.contactForm .form-group {
	margin-bottom: 15px;
	text-align: right;
}

.contactForm .form-control {
	background: 0 0;
	border: 1px solid #e7edf4;
	border-radius: 0;
	height: 51px;
	margin: 1rem 0;
}

.contactForm .form-control:focus {
	border: 1px solid #f14f45;
	background-color: #fff;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.social {
	margin: 1rem 0 !important;
	padding: 0px
}


.contactForm textarea.form-control {
	height: 250px !important
}

.contactForm .send-btn {
	margin-top: 10px
}

.contactForm .send-btn .send-btn-one {
	display: inline-block;
	padding: 16px 50px;
	background-color: #f25144;
	color: #fff;
	border: 1px solid #f25144;
	font-size: 16px;
	font-weight: 600;
	border: none
}

.contactForm .send-btn .send-btn-one:hover {
	background-color: #fff;
	color: #f14f45;
	text-decoration: none;
	-webkit-transition: .6s;
	transition: .6s;
	-webkit-transition: .5s
}

.map-area iframe {
	width: 100%;
	height: 390px;
	border: none;
	margin-bottom: -5px
}

.info-area .contact-box {
	position: relative;
	text-align: center;
	margin-top: 30px;
	max-width: 220px
}

.info-area .contact-box h4 {
	font-size: 24px;
	margin-bottom: 12px;
	color: #119da4
}

.info-area .contact-box p {
	margin: 0;
	line-height: 25px;
	font-weight: 400;
	font-size: 14px
}

.info-area .contact-box p a {
	color: #777
}

.info-area .contact-box p a:hover {
	color: #f45a43;
	text-decoration: none
}

.modal.right .modal-dialog .modal-content .modal-body .modal-contact-info {
	margin-top: 30px;
	margin-bottom: 20px
}

.modal.right .modal-dialog .modal-content .modal-body .modal-contact-info li {
	position: relative;
	padding-left: 36px;
	font-size: 14px;
	margin-bottom: 25px
}

.modal.right .modal-dialog .modal-content .modal-body .modal-contact-info li b {
	display: block;
	font-size: 16px;
	font-weight: 700
}

.modal.right .modal-dialog .modal-content .modal-body .modal-contact-info li i {
	position: absolute;
	left: 0;
	top: 6px;
	font-size: 25px;
	color: #eb3449
}

.faq-contact {
	margin-top: 45px;
	-webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .08);
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .08);
	padding: 60px;
	border-radius: 4px
}

.faq-contact h3 {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 25px
}

.faq-contact form {
	position: relative
}

.faq-contact form .form-group {
	margin-bottom: 15px
}

.faq-contact form .form-control {
	height: 50px;
	border: 1px solid #eee;
	border-radius: 3px;
	color: #000;
	padding-left: 20px;
	background: 0 0
}

.faq-contact form .form-control:focus {
	border-color: #f25144;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.faq-contact form .form-control::-webkit-input-placeholder {
	color: #777
}

.faq-contact form .form-control:-ms-input-placeholder {
	color: #777
}

.faq-contact form .form-control::-ms-input-placeholder {
	color: #777
}

.faq-contact form .form-control::placeholder {
	color: #777
}

.faq-contact form .send-btn {
	margin-top: 20px
}

.faq-contact form textarea.form-control {
	height: 120px !important
}

.bg-color {
	background-color: #f3f3f3
}

.newsletterForm .newsletter-btn {
	text-align: left;
	position: absolute;
	left: -15px;
	top: 0
}

.newsletterForm .newsletter-btn .newsletter-btn-one {
	display: inline-block;
	padding: 17px 50px;
	background-color: #f25144;
	color: #fff;
	border: 1px solid #f25144;
	font-size: 16px;
	font-weight: 600
}

.newsletterForm .newsletter-btn .newsletter-btn-one:hover {
	background-color: #fff;
	color: #f14f45;
	text-decoration: none;
	-webkit-transition: .6s;
	transition: .6s;
	-webkit-transition: .5s
}

.newsletter-section {
	padding-bottom: 100px;
	padding-top: 100px;
	position: relative
}

.newsletter-title {
	margin-bottom: 40px;
	text-align: center
}

.newsletter-title h2 {
	font-size: 48px;
	color: #000;
	margin: -8px 0 15px
}

.newsletter-title p {
	font-size: 18px;
	font-weight: 500;
	margin: 0
}

.newsletterForm {
	margin-top: 0;
	max-width: 650px;
	margin: auto;
	position: relative
}

.newsletterForm .form-control {
	background: 0 0;
	border: 1px solid #e7edf4;
	background-color: #e7edf4;
	border-radius: 0;
	height: 60px
}

.newsletterForm .form-control:focus {
	border: 1px solid #f14f45;
	background-color: #fff;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.newsletterForm .comment-form-cookies-consent {
	text-align: center;
	margin: 30px 0 0
}

.newsletterForm label {
	margin-bottom: 0
}