@media only screen and (max-width: 576px) {
    .product-list-div2 {
        margin-top: -13rem;
        padding: 0 0rem !important;
    }

    .hidden-xs {
        display: none;
    }

    .carousel-item {
        display: none;
    }

    .product-list-div3 {
        padding-top: 13rem;
    }
}

@media only screen and (min-width: 576px) {
    .product-list-div2 {
        padding: 0 1rem !important;
    }

}

ul li {
    list-style: none;
    color: #636262;
}

.carousel-control-next,
.carousel-control-prev {
    height: 17rem !important
}

.active {
    background-color: #CED7E7;
}

.num {
    color: #999;
    font: 15px yekan;
    padding: 0 6px 0 4px;
    text-decoration: line-through;
}

.lbl {
    font: 15px yekan;
    color: #777777;
    float: right;
}

.preview1 {
    width: 100%
}



.lbl {
    font: 18px yekan;
    color: #4d4d4d;
    float: right;
}

.remain2 {
    width: 100%;
    height: 2rem;
    text-align: left;
}

.discount_div {
    width: 3rem !important;
    position: absolute;
}

.discount_number {
    position: absolute;
    top: 0.15rem;
    left: 0.8rem;
    color: #fff;
    font-size: 0.75rem;
}

.product-list:hover {
    box-shadow: 0px 3px 7px 2px #dedede;
    border: solid 2px #cccccc;
}


.product-list {
    box-shadow: 0 4px 5px -2px #0003;
    min-height: 21.5rem;
    background-color: #fff;
    padding: 1rem;
    border: solid 1px #ccc
}


.product-list:hover {
    background-color: #fff;
}

.product-h3 {
    font-size: 0.79rem;
    text-align: right;
    color: #636262;
    line-height: 1.7rem;
    font-weight: 700;
    min-height: 4rem;
}

.remain {
    padding-top: 1rem;
    text-align: right;
    color: red;
    font-size: 0.8rem;
}

.price {
    text-align: left;
    font-weight: 700;
}

.product-list-div {
    padding: 1rem 0.5rem !important;
    z-index: 9;
    float: right;
    min-height: 23rem;
}

.product-dscount {
    background-color: #ef394e;
    color: #fff;
    padding: 0.2rem;
    max-height: 2rem;
}

.radius-large {
    border-radius: var(--large-radius);
}

.product-price-div {
    width: 100%;
    font-weight: 700;
    color: #3F4064
}

.address_bar ul li {
    display: inline-block;
    list-style: none;
    color: #767790;
    font-size: 0.89rem;
}

.address_bar1 {
    padding: 0 1rem !important;
    margin-top: 1rem
}

.address_bar {
    padding-top: 1rem;
    padding: 0.5rem 0;
    background-color: #fff;
}

.address_bar .slash {
    margin-right: 0.6rem;
    margin-left: 0.6rem
}

ul {
    padding-right: 1.2rem;
}

.address_bar dl,
ol,
ul {
    margin: 0px !important
}

h1 {
    padding: 1rem 1rem 0 0 !important;
    text-align: right;
    font-size: 1.1rem;
}

.div_loading {
    background: #fff;
}

.product-price {
    font-size: 1.6rem;
    margin-left: 0.2rem;
}

.all-goods-fluid2 {
    padding: 0px !important
}

.carousel-item {
    height: 25rem;
}

.product-discount-div {
    color: #ccc
}

.all-goods-div1 {
    border: solid 1px #ccc;
    min-height: 20rem;
    ;
}

.all-goods-row1 {
    padding: 0 0.5rem;
}

.carousel-indicators {
    display: none;
}