.detaile-div1 {
	border: solid 1px #ccc;
	line-height: 2rem;
	text-align: right;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

table tr td {
	text-align: right;
}

.table-bordered td,
.table-bordered th {
	padding: 0rem 0.5rem
}