<div mat-dialog-title class="matDialogTitle" cdkDragHandle cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="div_loading">
    <div class="my-container" [hidden]="!loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>

  <div class="mat-dialog-title-div1">مشخصات شماره قرارداد {{ contract_number }}</div>
  <span class="close" (click)="close()">
    <mat-icon>close</mat-icon>
  </span>
</div>

<div mat-dialog-content class="matDialogContent dialog-color" style="padding:7px !important;font-size: 0.79rem;">
  <div class="container">
    <div class="row" *ngFor="let x of list_record">
      <table class="table table-bordered">
        <tr>
          <td class="right">نام کالا:</td>
          <td class="center en">{{ x.site_brand_title }} {{ x.site_tip_title }} {{ x.site_year_title }}</td>
        </tr>
        <tr>
          <td class="right">شماره شاسی:</td>
          <td class="center">{{ x.contract_list_vin }}</td>
        </tr>
        <tr>
          <td class="right">شماره موتور:</td>
          <td class="center">{{ x.contract_list_engin }}</td>
        </tr>
        <tr>
          <td class="right">رنگ:</td>
          <td class="center">{{ x.site_color_title }}</td>
        </tr>
        <tr>
          <td class="right"> تاریخ عقد قرارداد: </td>
          <td class="center">{{ x.contract_list_contract_date1 }}</td>
        </tr>
        <tr>
          <td class="right">تاریخ قبض انبار مقصد:</td>
          <td class="center">{{ x.contract_list_recept_date2 }}</td>
        </tr>
        <tr>
          <td class="right">تاریخ شروع قرارداد:</td>
          <td class="center">{{ x.contract_list_contract_date }}</td>
        </tr>
        <tr>
          <td class="right">تاریخ ترخیص:</td>
          <td class="center">{{ x.contract_list_discharge_date }}</td>
        </tr>
        <tr>
          <td class="right">تاریخ پلاک:</td>
          <td class="center">{{ x.contract_list_plate_date }}</td>
        </tr>
        <tr>
          <td class="right">شماره پلاک:</td>
          <td class="center">--</td>
        </tr>
        <tr>
          <td class="right">تعداد روز شروع تا پلاک:</td>
          <td class="center">{{ missed_day_plate }} روز</td>
        </tr>
      </table>
    </div>
  </div>
</div>