.user_icon {
    display: inline-block;
}

.user_logo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.login {
    display: inline-block;
    padding: 0.55rem 1.5rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
}