<div class="row" style="background-color: #fff;margin-top:0.5rem">
   <div class='col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 shopcart' id='box-tab2' style="padding:1rem !important">
      <div class="row shop-address-row">
         <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 shop-address-div'>
            در صورت تمایل می‌توانید اینترنتی پرداخت کنید
         </div>
         <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 shop-address-div'>
            <div class="shop-address-div-items">
               کد پیگیری سفارش
               <span class="answer">{{ invoice_id }}</span>
            </div>
            <div class="shop-address-div-items">
               تاریخ ثبت سفارش
               <span class="answer invoice_date">{{ invoice_date }}</span>
            </div>
         </div>

         <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 shop-address-div'>
            <div class="shop-address-div-items">
               تحویل گیرنده
               <span class="answer">--</span>
            </div>
            <div class="shop-address-div-items">
               شماره موبایل
               <span class="answer">---</span>
            </div>
            <div class="shop-address-div-items shop-address-div-items2">
               آدرس
               <span class="answer">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span>
            </div>
         </div>

         <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 shop-address-div'>
            <div class="shop-address-div-items">
               مبلغ
               <span class="answer"> {{ sum_all | number }} تومان</span>
            </div>
            <div class="shop-address-div-items">
               <span class="answer"> پرداخت در محل (با کارت بانکی)</span>
            </div>
            <div class="shop-address-div-items shop-address-div-items2">
               هزینه ارسال (بر اساس وزن و حجم)
               <span class="answer">29،000 تومان</span>
            </div>
         </div>

         <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 shop-address-div'>
            <div class="shop-address-div-items">
               ارسال
               <span class="answer">عادی</span>
            </div>
            <div class="shop-address-div-items">
               زمان تحویل
               <span class="answer">چهار‌شنبه ۵ بهمن بازه ۹ - ۱۲</span>
            </div>
            <div class="shop-address-div-items shop-address-div-items2 shop-address-div-items3  ">
               این کد را هنگام دریافت مرسوله، به مامور ارسال اعلام کنید
               <span class="answer" style="float: left;">کد تحویل مرسوله: {{ tracking_code }}</span>
            </div>
         </div>
      </div><!-- row -->
   </div>

   <div class='col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 shopcart' id='box-tab2' style="padding:1rem !important">
      <div class='price-info-detaile-pro col-12 col-md-12 col-sm-12 col-lg-12' style='margin-top:5px !important'>
         <div class='sale-detaile-pro'>
            <i class="icon-info fas fa-truck" style='margin:6px 3px 6px 13px'></i>
            <span class='one-sale-detaile'> ارسال از 4 روز کاری آینده </span>
         </div>

         <div class='type-price-detaile'>
            <div class="type-price-old">
               مبلغ قابل پرداخت
            </div>
            <div class="type-price-new">
               <span class="new-price"><span>تومان</span>
                  {{ sum_all | number }}
               </span>
            </div>
            <button class='button-price-shop' (click)="continue()">
               <i class="fas fa-long-arrow-alt-left"></i>
               ثبت نهایی و پرداخت در محل
            </button>
            <p class='p-price-shop'>
               کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش مراحل بعدی را تکمیل کنید.
            </p>
         </div>
      </div>
   </div>
</div>

<!-- ****************************************************************************************** -->