<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 box">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 box1">
                    <h3>تاریخچه قراردادها</h3>
                    <div class="line"></div>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 div4">
                    <ul class="ul2 box2">
                        <div class="row" style="margin-bottom:1rem !important">


                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 div2"
                                *ngFor="let x of list_contract">
                                <div class="row row_invoice">
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-12 div1">
                                        <div class="breakpoint">
                                            <span class="div1_span1"> شماره قرارداد
                                            </span>
                                            <span class="div1_span2">{{ x.contract_list_contract_number }}</span>
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-12 div1">
                                        <div class="breakpoint">
                                            <span class="div1_span1">تاریخ شروع قرارداد
                                            </span>
                                            <span class="div1_span2">{{ x.contract_list_contract_date }}</span>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 div_image ">
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-2 backgroundImage"
                                                [ngStyle]="{'background-image':'url( ' + x.logo + ')'}">
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-2 div6">
                                                <div class="div3">
                                                    <span class="div1_span1"> کالا
                                                    </span>
                                                    <span class="contract-title2">
                                                        {{ x.site_brand_title }} {{ x.site_tip_title }} {{
                                                        x.site_year_title
                                                        }}
                                                    </span>
                                                </div>
                                                <div class="div3">
                                                    <span class="div1_span1"> تاریخ شروع قرارداد
                                                    </span>
                                                    <span class="contract-title2">
                                                        {{ x.contract_list_contract_date }}
                                                    </span>
                                                </div>
                                                <div class="div3">
                                                    <span class="div1_span1"> وضعیت
                                                    </span>
                                                    <span class="contract-title2">
                                                        {{ x.site_position_title }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 detaile">
                                                <div (click)="open(x.contract_list_id,x.contract_list_contract_number)"
                                                    class="cursor link btn1">
                                                    جزئیات
                                                </div>

                                                <div (click)="open_comment(x.contract_list_id,x.contract_list_contract_number)"
                                                    class="cursor link btn2">
                                                    پیامها
                                                </div>

                                                <div (click)="open_process(x.contract_list_id,x.contract_list_contract_number)"
                                                    class="cursor link btn3">
                                                    مراحل
                                                </div>

                                                <div (click)="open_invoice(x.contract_list_id,x.contract_list_contract_number)"
                                                    class="cursor link btn4">
                                                    هزینه ها
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row" *ngIf="list_contract.length == 0">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" class="preview1">
                                        <img src="../../../assets/img/preview.png" title="همه کالاها" alt="همه کالاها">
                                        <div class="preview2">{{ serverService.get_no_record_text(lang) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>