<div class="container-fluid loading2" *ngIf="loading">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-md-12 col-xs-12">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid fluid2" *ngIf="id > 0">
    <div class="invoice">
        <div class="row containerInier">
            <div class="div_loading" style="width:100%" [hidden]="!loading">
                <div class="my-container">
                    <mat-progress-bar mode="indeterminate" class="detaile"></mat-progress-bar>
                </div>
            </div>
            <div class="row only-print">
                <div class="col-xl-6 col-lg-6 col-md-6 col-md-6 col-xs-6 div1 div-img2" style="padding-top:0.8rem">
                    <img src="../../../assets/img/logo2-new.png" class="img2">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-md-6 col-xs-6 div1 address">
                    <div class="address1" style="white-space:pre-wrap">
                        <span>آدرس: </span>
                        <span class="cellphone" [innerHTML]="fulladdress" style="white-space:pre-wrap">
                        </span>
                    </div>
                    <div class="address1" style="white-space:pre-wrap">
                        <span>تلفن: </span>
                        <span class="cellphone" [innerHTML]="phone" style="white-space:pre-wrap">
                        </span>

                        <span style="margin-right:1rem">
                            فکس:
                        </span>
                        <span class="cellphone" [innerHTML]="fax" style="white-space:pre-wrap">
                        </span>
                    </div>
                    <div class="address1">
                        <span>
                            موبایل:
                        </span>
                        <span class="cellphone ltr" [innerHTML]="cellphone" style="white-space:pre-wrap;;">
                        </span>
                    </div>
                </div>
            </div>
            <!-- ************************************************************************************************************ -->
            <div class="row desktop only-print">
                <div class="col-xl-12 col-lg-12 col-md-12 col-md-12 col-xs-6 div2">
                    <table class="table-header table-striped table table2">
                        <tr>
                            <td class="bg">کالا</td>
                            <td>{{ brand }} {{ tip }} {{ year_title }}</td>
                            <td class="bg" style="width:25%">نرخ ارزش گمرکی (ریال)</td>
                            <td style="width:25%">{{ exchange_rate | number }}</td>
                        </tr>
                        <tr>
                            <td class="bg">ارزش گمرکی کالا (یورو)</td>
                            <td>{{ cpt | number}}</td>
                            <td class="bg" style="width:25%">تاریخ بروزرسانی</td>
                            <td style="width:25%">{{ invoice_date }}</td>
                        </tr>
                        <tr>
                            <td class="bg">ارزش اظهار کالا</td>
                            <td>{{ value_custom2 | number}}</td>
                            <td class="bg">کارفرما</td>
                            <td>{{ user_title }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- **********************************************for cellphone************************************************************** -->
            <div class="row cellphone no-print">
                <div class="col-xl-12 col-lg-12 col-md-12 col-md-12 col-xs-6 div2">
                    <table class="table-header table-striped table table2">
                        <tr>
                            <td class="bg" style="width:25%">نرخ ارز گمرکی</td>
                            <td style="width:25%">{{ exchange_rate | number }}</td>
                        </tr>
                        <tr>
                            <td class="bg" style="width:25%">کارفرما</td>
                            <td style="width:25%">{{ user_title }}</td>
                        </tr>
                        <tr>
                            <td class="bg">کالا</td>
                            <td>{{ brand }} {{ tip }} {{ year_title }}</td>
                        </tr>
                        <tr>
                            <td class="bg">تاریخ پیش فاکتور</td>
                            <td>{{ date }}</td>
                        </tr>
                        <tr>
                            <td class="bg">VIN وارداتی</td>
                            <td>{{ vin }}</td>
                        </tr>
                        <tr>
                            <td class="bg">نحوه شماره گذاری</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- **********************************************f************************************************************** -->
            <div class="row desktop">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <td class="text-center borderLeft headBg" style="width:5%">
                                <span>ردیف</span>
                            </td>
                            <td class="text-center borderLeft headBg" style="width:15%"><span>نوع
                                    سند</span></td>
                            <td class="text-center borderLeft headBg" style="width:30%">
                                <span>سرفصل هزینه</span>
                            </td>
                            <td class="text-center borderLeft headBg" style="width:15%">
                                <span>مبلغ (ریال)</span>
                            </td>
                            <td class="text-center borderLeft headBg" style="width:35%">
                                <span>توضیحات</span>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of list_cost;let i = index">
                            <td class="text-center borderLeft">{{ i + 1 }}</td>
                            <td class="text-center borderLeft">{{
                                x.contract_cost_status_title }}</td>
                            <td class="borderLeft" style="max-width:140px">
                                {{ x.invoice_cost2_title }}
                            </td>
                            <td class="text-center borderLeft">{{
                                x.invoice_cost2_price | number }}</td>
                            <td class="text-center borderLeft right">{{
                                x.invoice_cost2_comment }}</td>
                        </tr>
                        <tr style="background-color: #ff40403d;">
                            <td class="textRight borderLeft balance2 main_bg_color" colspan="5">
                                جمع کل هزینه ها
                                <div class="balance">{{ sum1 | number }} ریال </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- **********************************************for cellphone************************************************************** -->
            <div class="row row3" *ngIf="list_cost.length > 0">
                <app-invoice-print-cellphone [obj]="{ list_cost : list_cost}"></app-invoice-print-cellphone>
            </div>
            <!-- ************************************************************************************************************ -->
            <div class="row" style="margin:2rem 0 !important">
                <!-- *************************************************************************************************************-->
                <footer class="container-fluid footer">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="noprint" style="float: left;">
                                <a href="javascript:window.print()" class="btn btn-default print-button"><i
                                        class="icon-printer"></i> پرینت</a>
                            </span>
                            www.truckbama.com
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid fluid2 none" *ngIf="id == 0">
    در حال حاضر هیچ تخمین هزینه برای این جستجو وجود ندارد.
</div>