<div class="footer-bottom no-print">
    <div class="container">
        <div class="footer-bottom-content">
            <p>
                <i class="far fa-copyright"></i>
                تمامی حقوق برای
                <a [routerLink]="['/']">
                    ---
                </a>
                محفوظ است.
                برای اطلاع از قوانین سایت
                <span (click)="read_rule()" class="cursor">اینجا</span>
                کلیک نمائید.
            </p>
        </div>
    </div>
</div>
<!-- End Footer Bottom section -->