<div class="div_loading">
    <div class="my-container" [hidden]="!loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>

<div mat-dialog-content class="matDialogContent dialog-color" style="padding:0.2rem 0 !important;font-size: 0.88rem;">
    <div class="container">
        <div class="row no-print tabs">
            <div class="col-xl-12 col-xl-12 col-lg-12 col-md-12 col-xs-12 col1">
                <div style="display: inline-block; vertical-align: top;">
                    <button class="search_button" [ngClass]="{active:tab == 1}" (click)="change(1)">فاکتور</button>
                    <button class="search_button" [ngClass]="{active:tab == 2}" (click)="change(2)">واریزی ها</button>
                    <button class="search_button" [ngClass]="{active:tab == 3}" (click)="change(3)">صورتحساب</button>
                </div>
            </div>
        </div>

        <ng-container *ngIf="tab == 1 && access == true">
            <app-personal-invoice2 [obj]="{ id : id }"></app-personal-invoice2>
        </ng-container>
        <!--**********************************************************************************************-->
        <ng-container *ngIf="tab == 2 && access == true">
            <app-contract-invoice3 [obj]="{ id : id }"></app-contract-invoice3>
        </ng-container>
        <!--**********************************************************************************************-->
        <ng-container *ngIf="tab == 3">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 div_sum"> میزان هزینه های این قرارداد :
                <div class="price">
                    <span class="yellow">{{ sum1 | number }} ریال</span>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 div_sum">
                میزان واریزی های این قرارداد :
                <div class="price">
                    <span class="yellow">{{ sum2 | number }} ریال</span>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 div_sum">
                جمع کل
                <span *ngIf="(sum1 - sum2) >= 0">بدهکاری</span>
                <span *ngIf="(sum1 - sum2) < 0">واریزی مازاد</span>
                :
                <div class="price yellow">
                    {{ sum1 - sum2 | number }} ریال
                </div>
            </div>
        </ng-container>

    </div>
</div>