.profile-menu {
    color: #3F4064;
    border-bottom: solid 1px #ccc;
    height: 3rem;
    padding: 0 !important;
}

.profile-menu-icon {
    font-size: 2rem;
    vertical-align: super;
    color: #333;
}

.profile-menu-icon-span {
    vertical-align: super !important;
    margin-left: 0.5rem
}

.mat-list-base {
    padding: 0px !important
}

.mat-mdc-menu-content {
    padding: 0px !important
}