<mat-drawer-container class="example-container app" [hasBackdrop]="true">
    <mat-drawer #drawer1 mode="over" style="min-width:22rem;max-height: 100vh;z-index: 999;">
        <div class="row">
            <div class="col-xl-12 xol-lg-12 col-md-12 col-sm-12 col-xs-12">
                <mat-card class="example-card card drawer-header">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option *ngFor="let x of list_group" (click)="go(x.material_group_id)">
                    <h2 class="drawer-h2">{{ x.material_group_title }}</h2>
                </mat-list-option>
            </mat-selection-list>
        </div>
    </mat-drawer>
    <div>

    </div>
</mat-drawer-container>

<router-outlet> </router-outlet>