<div class="root">
    <div class="container-fluid fluid1">
        <div class="bg">
            <h1 class="h1">انتخاب کالا،هوشمند تر از همیشه</h1>
            <div class="box-input">
                <input class="input1" [(ngModel)]="q" (keyup.enter)="search()">
            </div>
            <div style="margin-top: 3rem;">
                <button class="btn search" (click)="search()">جستجو کن</button>
            </div>
        </div>
    </div><!-- fluid  -->
    <!-- ******************************************************************************************* -->
    <section>
        <div class="container-fluid fluid-margin">
            <div class="row home-row1">
                <div class="row rowboxes">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 rowboxesheader">
                        <h4>فروش ویژه</h4>
                    </div>
                    <ul class="owl-carousel owl-theme">
                        <li *ngFor="let x of list_special_goods"
                            (click)="open(x.wharehouse_material_id,x.wharehouse_material_title)">
                            <div class="discount_div" *ngIf="x.wharehouse_material_discount > 0">
                                <img src="../../../assets/img/discount.png" class="discount_image" title="بک لایت"
                                    altr="بک لایت">
                                <span class="discount_number">{{ x.wharehouse_material_discount }}%</span>
                            </div>

                            <div class="item" class="cursor">
                                <img [src]="x.logo" [title]="x.wharehouse_material_title"
                                    [alt]="x.wharehouse_material_title">
                                <h5>{{ x.wharehouse_material_title | substr:0:45 }}</h5>
                                <h6 class="price">{{ x.wharehouse_material_price3 / 10 | number }} تومان</h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ******************************************************************************************* -->
        <div class="container-fluid fluid-margin">
            <div class="row home-row1">
                <div class="row rowboxes">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 rowboxesheader">
                        <h4>جدیدترین</h4>
                    </div>
                    <ul class="owl-carousel owl-theme">
                        <li *ngFor="let x of list_new_goods"
                            (click)="open(x.wharehouse_material_id,x.wharehouse_material_title)">
                            <div class="discount_div" *ngIf="x.wharehouse_material_discount > 0">
                                <img src="../../../assets/img/discount.png" class="discount_image" title="بک لایت"
                                    altr="بک لایت">
                                <span class="discount_number">{{ x.wharehouse_material_discount }}%</span>
                            </div>
                            <div class="item" class="cursor">
                                <img [src]="x.logo" [title]="x.wharehouse_material_title"
                                    [alt]="x.wharehouse_material_title">
                                <h5>{{ x.wharehouse_material_title | substr:0:45 }}</h5>
                                <h6 class="price">{{ x.wharehouse_material_price3 / 10 | number }} تومان</h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------------------------------------------- -->
        <div class="container-fluid fluid-margin">
            <div class="row home-row1">
                <div class="row rowboxes">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 rowboxesheader">
                        <h4>پرفروش ترین</h4>
                    </div>
                    <ul class="owl-carousel owl-theme">
                        <li *ngFor="let x of list_other_goods"
                            (click)="open(x.wharehouse_material_id,x.wharehouse_material_title)">
                            <div class="discount_div" *ngIf="x.wharehouse_material_discount > 0">
                                <img src="../../../assets/img/discount.png" class="discount_image" title="بک لایت"
                                    altr="بک لایت">
                                <span class="discount_number">{{ x.wharehouse_material_discount }}%</span>
                            </div>
                            <div class="item" class="cursor">
                                <img [src]="x.logo" [title]="x.wharehouse_material_title"
                                    [alt]="x.wharehouse_material_title">
                                <h5>{{ x.wharehouse_material_title | substr:0:45 }}</h5>
                                <h6 class="price">{{ x.wharehouse_material_price3 / 10 | number }} تومان</h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------------------------------------------- -->
        <div class="container-fluid fluid-margin">
            <div class="row home-row1">
                <div class="row rowboxes">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 rowboxesheader">
                        <h4>قطعات ماکروفر</h4>
                    </div>
                    <ul class="owl-carousel owl-carousel2 owl-theme">
                        <li *ngFor="let x of list_microwave"
                            (click)="open(x.wharehouse_material_id,x.wharehouse_material_title)">
                            <div class="discount_div" *ngIf="x.wharehouse_material_discount > 0">
                                <img src="../../../assets/img/discount.png" class="discount_image" title="بک لایت"
                                    altr="بک لایت">
                                <span class="discount_number">{{ x.wharehouse_material_discount }}%</span>
                            </div>
                            <div class="item" class="cursor">
                                <img [src]="x.logo" [title]="x.wharehouse_material_title"
                                    [alt]="x.wharehouse_material_title">
                                <h5>{{ x.wharehouse_material_title | substr:0:45 }}</h5>
                                <h6 class="price">{{ x.wharehouse_material_price3 / 10 | number }} تومان</h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- -------------------------------------------------------------------------------------------------- -->
    <div class="container-fluid fluid2">
        <div class="row" style="padding-top:3rem;padding-bottom: 2rem;">
            <div class="col-xl-3 col-lg-3 col-xl-3 col-md-3 col-xs-12 home-header">
                <div class="div_backup"><img src="../../../assets/images/1.jpg" title="بک لایت" alt="بک لایت"></div>
                <div>تضمین اصالت کالا</div>
            </div>
            <div class="col-xl-3 col-lg-3 col-xl-3 col-md-3 col-xs-12 home-header">
                <div class="div_backup"><img src="../../../assets/images/2.jpg" title="بک لایت" alt="بک لایت"></div>
                <div>ارسال سریع به سراسر کشور</div>
            </div>
            <div class="col-xl-3 col-lg-3 col-xl-3 col-md-3 col-xs-12 home-header">
                <div class="div_backup"><img src="../../../assets/images/3.jpg" title="بک لایت" alt="بک لایت"></div>
                <div>تست قطعات قبل از ارسال</div>
            </div>
            <div class="col-xl-3 col-lg-3 col-xl-3 col-md-3 col-xs-12 home-header">
                <div class="div_backup"><img src="../../../assets/images/4.jpg" title="بک لایت" alt="بک لایت"></div>
                <div>مشاوره تخصصی خرید</div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------------------------------------------------------------- -->
</div>