<!-- Toggler/collapsibe Button -->
<nav class="navbar navbar-expand-lg navbar-light bg-light d-xl-none d-lg-none phone no-print" style="padding:0px">
    <div class="right" style="padding:0.5rem 2.6rem">
        <mat-icon class="menu_icon" data-toggle="collapse" data-target="#navbarSupportedContent">menu</mat-icon>
        <app-menu></app-menu>
    </div>

    <div class="left">
        <a class="navbar-brand" style="padding:0px 0px;float:left !important" [routerLink]="['/']">
            <img [src]="logo" style="max-width:10rem" title="گروه تجاری با ما" alt="گروه تجاری با ما">
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-nav1">
            <span>
                <li class="nav-item nav-item1" data-target="#navbarSupportedContent" data-toggle="collapse"
                    [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link">صفحه نخست</a>
                </li>
                <li class="nav-item nav-item1" data-toggle="collapse" data-target="#navbarSupportedContent"
                    [routerLink]="['/about','درباره-ما']" routerLinkActive="active">
                    <a class="nav-link">درباره ما</a>
                </li>
                <li class="nav-item nav-item1" data-toggle="collapse" data-target="#navbarSupportedContent"
                    [routerLink]="['/login']" routerLinkActive="active">
                    <a class="nav-link">ورود</a>
                </li>
            </span>
        </ul>
    </div>
</nav>