<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 header">
            با ما؛ واردات انواع کامیون های اروپایی ولوو، داف و رنو
        </div>
    </div>

    <div class="row row1">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 home-div3">
            <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 home-box1 home-box5"
                    style="padding:0px !important">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 home-box1 home-box7">
                        <img [src]="header_baner1" style="height: 24rem;" *ngIf="header_baner1">
                    </div>
                </div>
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12 home-box1 home-box6 home-box4">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 home-box2 home-box3">
                        <span *ngIf="header_baner2">
                            <span>
                                <img [src]="header_baner2">
                            </span>
                        </span>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 home-box8">
                        <img [src]="header_baner3" *ngIf="header_baner3">
                    </div>
                </div>
            </div>
            <!-- ****************************************************************************************************************************** -->
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 home-box9">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" data-bs-interval="3000" *ngFor="let x of list_baner3;let i = index"
                        [ngClass]="{active:i == 0}">
                        <img [src]="x.logo" class="d-block w-100" alt=" " title=" ">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <form [formGroup]="form1" (ngSubmit)="open_invoice()">
        <div class="row row2 ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 search">
                <h1 class="h1">برآورد هزینه، هوشمندتر از همیشه</h1>
                <div class="box-input">
                    <div class="container">
                        <div class="row row3">

                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 search-box">
                                <mat-form-field appearance="fill">
                                    <mat-label>نوع درخواست</mat-label>
                                    <mat-select name="type" formControlName="type">
                                        <mat-option [value]="2">حقوق گمرکی</mat-option>
                                        <mat-option [value]="1">تخمین هزینه</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>


                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 search-box">
                                <mat-form-field appearance="fill">
                                    <mat-label>برند</mat-label>
                                    <mat-select name="brand" formControlName="brand" (ngModelChange)="get_tip()">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let x of list_brand" [value]="x.site_brand_id">
                                            {{ x.site_brand_title }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 search-box">
                                <mat-form-field appearance="fill">
                                    <mat-label>تیپ</mat-label>
                                    <mat-select name="tip" formControlName="tip">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let x of list_tip" [value]="x.site_tip_id">
                                            {{ x.site_tip_title }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 search-box">
                                <mat-form-field appearance="fill">
                                    <mat-label>سال</mat-label>
                                    <mat-select name="year" formControlName="year">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let x of list_year" [value]="x.site_year_id">
                                            {{ x.site_year_title }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                        <div style="margin-top: 3rem;">
                            <button type="submit" class="btn search_button">جستجو کن</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div *ngIf="show_invoice == true">
        <app-invoice-print-cellphone [obj]="obj"></app-invoice-print-cellphone>
    </div>

</div>


<br><br><br><br><br><br><br>