<div class="row" style="padding:0.3rem 0.8rem">
    <mat-list role="list">
        <mat-list-item role="listitem" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-menu cursor">
            <span [routerLink]="['/profile/info']" class="cursor title">{{ user_title }}</span>
        </mat-list-item>
        <mat-list-item role="listitem" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-menu cursor"
            [routerLink]="['/profile/contract']">
            <span class="title">قراردادها</span>
        </mat-list-item>
        <mat-list-item role="listitem" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-menu cursor"
            (click)="signout()">
            <span class="title">خروج از حساب کاربری</span>
        </mat-list-item>
    </mat-list>
</div>