<div mat-dialog-content class="mat-dialog-content" style="padding:0px">
    <div class="div_loading">
        <div class="my-container" [hidden]="!loading">
            <mat-progress-bar mode="indeterminate" class="detaile"></mat-progress-bar>
        </div>
    </div>
    <div class="row" style="position:fixed;z-index:9999999999">
        <span (click)="close()">
            <mat-icon class="close">close</mat-icon>
        </span>
    </div>

    <div class="row" style="padding:2rem 1rem">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 right">
            <p style="white-space:pre-wrap" [innerHTML]="comment" class="comment">
            </p>
        </div>
    </div>

</div>