<div class="div_loading">
  <div class="my-container" [hidden]="!loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<div>
  <div class="loading"><span class="spinner-border spinner-border-sm" [hidden]="!loading"></span></div>

  <div class="row row1">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-8 col-12" style="padding:0">
      <div class="row">
        <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12 div1">
          <div class="breakpoint">
            <span class="div1_span1"> شماره قرارداد
            </span>
            <span class="div1_span2">{{ contract_number
              }}</span>
          </div>
        </div>
        <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12 div1">
          <div class="breakpoint">
            <span class="div1_span1">نام کارفرما
            </span>
            <span class="div1_span2">{{ user_title }}</span>
          </div>
          <span class="undo cursor" [routerLink]="['/profile/contract']">
            <mat-icon>
              undo
            </mat-icon>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class='col-md-12 col-lg-12 col-xs-12 col-sm-12'>
      <div class="message">
        <ul *ngFor="let comment of list_comment" class="comment">
          <li class="msg-left" *ngIf="user_id != comment.contract_comment_creator">
            <div class="msg-left-sub">
              <img [src]="comment.logo">
              <div class="msg-desc pe1" [ngClass]="{en1:lang==2}">
                <div [innerHTML]="comment.contract_comment_comment" class="comment pe1"
                  [ngClass]="{en1:comment.comment == false}"></div>
              </div>
              <small class="text_pe" [ngClass]="{text_en:lang==2}">{{ comment.contract_comment_date }}
                {{ comment.contract_comment_time }}</small>
            </div>
          </li>
          <li class="msg-right" *ngIf="user_id == comment.contract_comment_creator">
            <div class="msg-right-sub">
              <img [src]="comment.logo">
              <div class="msg-desc pe1" [ngClass]="{en1:lang==2}">
                <div [innerHTML]="comment.contract_comment_comment" class="comment pe1"
                  [ngClass]="{en1:comment.comment == false}"></div>
              </div>
              <small class="text_pe" [ngClass]="{text_en:lang==2}">{{ comment.contract_comment_date }}
                {{ comment.contract_comment_time }}</small>
            </div>
          </li>
        </ul>
        <span id="bottom"></span>
      </div>
    </div>
  </div><!-- row -->
</div><!-- content -->


<div class="textarea_div">
  <form [formGroup]="form1">
    <textarea style="direction: unset !important" name="comment" formControlName="comment" class="pe1">
      </textarea>
    <button class="btn_pe send" (click)="send_comment(id)" [disabled]="!form1.valid || loading">
      <span>ارسال</span>
    </button>
  </form>
</div>