<div class="div_loading" [hidden]="!loading">
    <div class="my-container" class="detaile">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 alarm_box" *ngIf="status_info == 1">
            <mat-icon style="vertical-align: middle !important;">info</mat-icon>
            اطلاعات کاربری شما در وضعیت "در انتظار تکمیل اطلاعات" می باشد.لطفا از منوی سمت راست گزینه "پنل کاربری من"
            اطلاعات خود را تکمیل کنید.
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 alarm_box" *ngIf="status_info == 2">
            <mat-icon style="vertical-align: middle !important;">info</mat-icon>
            اطلاعات کاربری شما در وضعیت "در انتظار تایید" می باشد.لطفا تا زمان تایید حساب کاربری صبور باشید..
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 box">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 box1">
                    <h3>شرکتهای من</h3>
                    <div class="line"></div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 box1 company-new">
                    <button class="btn cursor" (click)="open(0,1,1)"
                        [attr.disabled]="status_info != 3 ? true : null">درج جدید
                        شرکت</button>
                </div>
            </div>
            <div class="row row1">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 div4">
                    <ul class="ul2 box2">
                        <div class="row" style="margin-bottom:1rem !important">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 div2"
                                *ngFor="let x of list_company;let i = index">
                                <div class="row row_invoice cursor"
                                    [ngClass]="{row_invoice2:x.site_company_id == company_id }"
                                    (click)="get_bg(x.site_company_id)">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-4 mobile backgroundImage"
                                        [ngStyle]="{'background-image':'url( ' + x.logo + ')'}"
                                        style="min-height: 8rem;">
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-8 col-8" style="padding:0">
                                        <span (click)="delete(i,x.site_company_id)" *ngIf="status_info == 3">
                                            <mat-icon>close</mat-icon>
                                        </span>
                                        <div class="row" [ngStyle]="{'padding-top' : status_info != 3 ? '1rem' : null}">
                                            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 div1">
                                                <div class="breakpoint">
                                                    <span class="div1_span1">
                                                    </span>
                                                    <span class="div1_span2">
                                                        {{ x.site_company_title }}
                                                        (
                                                        {{ x.company_type_title }}
                                                        )
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 div1">
                                                <div class="breakpoint">
                                                    <span class="div1_span1">مدیرعامل
                                                    </span>
                                                    <span class="div1_span2">{{ x.site_company_ceo }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 div_image">
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 backgroundImage"
                                                [ngStyle]="{'background-image':'url( ' + x.logo + ')'}">
                                            </div>
                                            <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-xs-2 div6">
                                                <div class="div3">
                                                    <span class="div1_span1"> شناسه ملی
                                                    </span>
                                                    <span class="company-title2">
                                                        {{ x.site_company_national_id }}
                                                    </span>
                                                </div>
                                                <div class="div3">
                                                    <span class="div1_span1">
                                                        کد اقتصادی
                                                    </span>
                                                    <span class="company-title2">
                                                        {{ x.site_company_economic_code }}
                                                    </span>
                                                </div>
                                                <div class="div3">
                                                    <span class="div1_span1"> شماره ثبت
                                                    </span>
                                                    <span class="company-title2">
                                                        {{ x.site_company_rnumber }}
                                                    </span>
                                                </div>
                                                <div class="div3">
                                                    <span class="div1_span1"> تاریخ ثبت
                                                    </span>
                                                    <span class="company-title2">
                                                        {{ x.site_company_date_registeration }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 detaile">
                                                <div [routerLink]="['/profile/company-detaile',x.site_company_id]"
                                                    class="cursor link btn1">
                                                    جزئیات
                                                </div>

                                                <div (click)="open(i,2,x.site_company_id)" class="cursor link btn2">
                                                    ویرایش
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="list_company.length == 0">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" class="preview1">
                                        <img src="../../../assets/img/preview.png" title="همه کالاها" alt="همه کالاها">
                                        <div class="preview2">{{ serverService.get_no_record_text(lang) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>