.div1{background: #fff;margin-top: 30px;text-align: center;padding: 20px;}
.div2{padding-bottom:31px}
.btn{background: #f35854;color: #fff;font-size: 0.8rem;width: 16rem;}
.icon1{font-size: 4rem;color: green;}
.icon2{font-size: 4rem;color: #f35854;}