@media only screen and (max-width: 576px) {
    .content3 {
        padding: 1rem 1rem !important;
    }

    .detaile-fluid3 {
        padding: 0px !important
    }

}

@media only screen and (min-width: 600px) {
    .content3 {
        padding: 1rem 3rem !important;
    }
}

.contract-title {
    font-weight: 400;
    font-size: 0.85rem;
}

.contract-title2 {
    font-family: en;
    color: #8e8888;
    font-size: 0.85rem;
}

.ticket {
    font-size: 0.8rem;
    border-top: solid 1px #ccc;
    padding: 0.3rem 1rem
}

.appy-breadcrumb {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(220, 221, 224, 0.5), 0 1px 0 0 rgba(208, 209, 213, 0.5);
    border-radius: 3px;
    overflow: hidden;
}

.appy-breadcrumb {
    margin-bottom: 15px;
    padding: 15px 20px;
}

.appy-breadcrumb ul li {
    float: right;
    padding-left: 30px;
    position: relative;
    font-size: 12px;
}



.appy-breadcrumb ul li {
    padding-left: 0.5rem;
    font-size: 1rem;
}

ol,
ul {
    list-style: none;
}

.sidebar1 .header {
    text-align: center;
    padding: 20px 20px;
    background: #ff0000;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.sidebar1 .header img {
    width: 125px;
    height: 125px;
    overflow: hidden;
    border-radius: 125px;
    margin-bottom: 10px;
    border: 2px solid #FFFFFF;
}

.footer {
    border-left: solid 1px #ccc;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.sidebar1 .header .name {
    font-size: 20px;
    font-weight: bold;
}

.menue ul li.active,
.menue ul li:hover {
    background: #e4e8f2;
    color: #ff0000;
    font-weight: bold;
}

.menue ul li.active a,
.menue ul li:hover a {
    border-right: 3px solid #ff0000;
}

.menue ul li a {
    display: block;
    padding: 15px 10px;
    text-align: right;
}

.menue ul li a i {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
    width: 30px;
    text-align: center;
    color: #636363;
}

.sidebar1 {
    background: #f7f7f7;
    -webkit-box-shadow: -5px 0 49px -22px #000;
    -moz-box-shadow: -5px 0 49px -22px #000;
    box-shadow: -5px 0 49px -22px #000;
    padding-right: 1rem !important;

}

.icon {
    font-size: 20px;
    vertical-align: middle;
    width: 30px;
    text-align: center;
    color: #636363;
}

ul {
    padding: 0px
}

.nav-label {
    color: #636363;
    font-size: 0.85rem;
}

.wh-label-text {
    color: #636363;
    font-size: 0.88rem;

}

.box:hover {
    background: #fff;
}

.content1 {
    padding: 0rem 0rem !important;
    background-color: #fff;
}

.content1 .header {
    border-bottom: 1px solid #c0c0c0;
    padding: 1rem;
    text-align: right;
}

.content1 .title {
    font-size: 17px;
    font-weight: bold;
    color: #ff0000;
}

.content {
    padding-top: 30px;
}


@media only screen and (max-width: 576px) {
    .content3 {
        padding: 1rem 1rem !important;
    }

}

@media only screen and (min-width: 600px) {
    .content3 {
        padding: 1rem 3rem !important;
    }
}


.appy-breadcrumb {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(220, 221, 224, 0.5), 0 1px 0 0 rgba(208, 209, 213, 0.5);
    border-radius: 3px;
    overflow: hidden;
}

.appy-breadcrumb {
    margin-bottom: 15px;
    padding: 15px 20px;
}

.appy-breadcrumb ul li {
    float: right;
    padding-left: 30px;
    position: relative;
    font-size: 12px;
}

.appy-breadcrumb ul li {
    padding-left: 0.5rem;
    font-size: 1rem;
}

ol,
ul {
    list-style: none;
}

.sidebar1 .header {
    text-align: center;
    padding: 20px 20px;
    background: #ff0000;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.sidebar1 .header img {
    width: 125px;
    height: 125px;
    overflow: hidden;
    border-radius: 125px;
    margin-bottom: 10px;
    border: 2px solid #FFFFFF;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.sidebar1 .header .name {
    font-size: 20px;
    font-weight: bold;
}

.menue ul li.active,
.menue ul li:hover {
    background: #e4e8f2;
    color: #ff0000;
    font-weight: bold;
}

.menue ul li.active a,
.menue ul li:hover a {
    border-right: 3px solid #ff0000;
}

.menue ul li a {
    display: block;
    padding: 15px 10px;
    text-align: right;
}

.menue ul li a i {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
    width: 30px;
    text-align: center;
    color: #636363;
}

.sidebar1 {
    background: #f7f7f7;
    -webkit-box-shadow: -5px 0 49px -22px #000;
    -moz-box-shadow: -5px 0 49px -22px #000;
    box-shadow: -5px 0 49px -22px #000;
    padding-right: 1rem !important;

}

.icon {
    font-size: 20px;
    vertical-align: middle;
    width: 30px;
    text-align: center;
    color: #636363;
}

ul {
    padding: 0px
}

.nav-label {
    color: #636363;
    font-size: 0.85rem;
}

.wh-label-text {
    color: #636363;
    font-size: 0.88rem;

}

.detaile-fluid3 {
    min-height: 50rem;
    background-color: #F4F4F2;
}

.header1 {
    padding: 1rem 2rem !important;
    background-color: #fff;
    text-align: right;
}

.div1 {
    padding: 0.5rem 0.3rem;
    font-size: 0.85rem;
}

.box {
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    text-align: right;
    margin: 0.5rem 0 !important;
    border: 1px solid #ccc;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
}

.course-box {
    padding: 5px !important
}

.title-discription {
    padding: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background: #c4ffcd !important;
    color: #000;
    margin-bottom: 15px;
    width: 100%
}



.content1 .header {
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 15px;
    text-align: right;
}

.content1 .title {
    font-size: 17px;
    font-weight: bold;
    color: #ff0000;
}

.content {
    padding-top: 0.1rem;
}

.div-4 {
    border-right: solid 1px #ccc;
    text-align: center;
    color: #fff;
}

.background {
    background-position: center;
    background-size: cover;
}

.contract-div1 {
    min-height: 9rem;
}