<div class="container-fluid detaile-fluid3">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-lg-12 col-xs-12 sidebar1 appy-breadcrumb">
            <ul>
                <li><i class="fa fa-graduation-cap icon" aria-hidden="true"></i></li>
                <li>قراردادهای من</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <!-- ************************************************************************************************************* -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-lg-12 col-xs-12 content1">
            <div class="div_loading" [hidden]="!loading">
                <div class="my-container">
                    <mat-progress-bar mode="indeterminate" class="detaile"></mat-progress-bar>
                </div>
            </div>
            <div class="content">
                <div class="row home-row1">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 course-box"
                        *ngFor="let x of list_contract">
                        <div class="row box cursor" [ngClass]="{active:contract_id == x.contract_list_id}">
                            <div class="col-lg-7 col-xl-7 col-md-7 col-sm-7 col-7 contract-div1">
                                <div class="hover">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 div1">
                                        <span class="contract-title">کالا:</span>
                                        <span class="contract-title2">
                                            {{ x.site_brand_title }} {{ x.site_tip_title }} {{ x.site_year_title }}
                                        </span>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 div1">
                                        <span class="contract-title">قرارداد:</span>
                                        <span class="contract-title2">
                                            {{ x.contract_list_contract_number }}
                                        </span>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 div1">
                                        <span class="contract-title">تاریخ شروع قرارداد:</span>
                                        <span class="contract-title2" style="font-family: irsans;">
                                            {{ x.contract_list_contract_date }}
                                        </span>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 div1">
                                        <span class="contract-title">وضعیت:</span>
                                        <span class="contract-title2" style="font-family: irsans;">
                                            {{ x.site_position_title }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-5 col-md-5 col-sm-5 col-5 div-4 background"
                                [ngStyle]="{'background-image':'url( ' + x.logo + ')'}">
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ticket">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 footer"
                                        (click)="open(x.contract_list_id)">
                                        جزئیات
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 footer"
                                        (click)="open_comment(x.contract_list_id,x.contract_list_order_id)">
                                        پیامها
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 footer"
                                        (click)="open_process(x.contract_list_id,x.contract_list_order_id)">
                                        مراحل
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- col-xl-9 col-lg-9 col-md-9 col-lg-9 col-xs-12 content1 -->
    </div>
</div>