table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

.mdc-data-table__header-cell {
    color: #fff !important;
    background-color: #26396A !important;
    text-align: center;
}


tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 115px;
    width: 100%;
    line-height: 2rem;
    color: #586D80;
    text-align: right;
    ;
}

.table-bordered {
    border: solid 1px #ddd;
}

.footer {
    text-align: center;
    padding: 1rem;
}

[dir=rtl] .mdc-data-table__cell,
.mdc-data-table__cell[dir=rtl] {
    text-align: center !important;
}


.footer-sum {
    text-align: right !important;
    padding: 0.5rem 1rem;
}

.print-button {
    border: solid 1px #ccc;
    background: bisque;
    font-size: 0.8rem;
}

.title {
    color: #26396A
}

.mat-mdc-table .mdc-data-table__row {
    height: auto
}

.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow: none !important;
}

.footer1 {
    padding-top: 1rem;
    line-height: 1rem;
    color: #999;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    font-size: .8rem;
    opacity: .8;
    position: relative;
    text-align: center;
}


.mat-mdc-table .mdc-data-table__header-row {
    height: 40px
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.mdc-data-table__row:last-child .mdc-data-table__cell {
    min-width: 10rem;
}

.example-element-description-attribution {
    opacity: 0.5;
}