<div class="container-fluid loading2" *ngIf="loading">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-md-12 col-xs-12">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" *ngIf="id > 0" style="padding:0px !important">
    <div class="invoice">
        <div class="row containerInier">
            <div class="div_loading" style="width:100%" [hidden]="!loading">
                <div class="my-container">
                    <mat-progress-bar mode="indeterminate" class="detaile"></mat-progress-bar>
                </div>
            </div>
            <!-- **********************************************f************************************************************** -->
            <div class="row desktop" style="padding:0px">
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows
                    class="mat-elevation-z8 table-bordered table-striped table-condensed contract-invoice3-table1">

                    <ng-container matColumnDef="row">
                        <th mat-header-cell *matHeaderCellDef>ردیف</th>
                        <td mat-cell *matCellDef="let x;let i = index" class="cursor" style="height:40px;"> {{
                            i
                            }} </td>
                        <td mat-footer-cell *matFooterCellDef class="footer-sum main_bg_color" [hidden]="true">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="cost_title">
                        <th mat-header-cell *matHeaderCellDef>نوع سند</th>
                        <td mat-cell *matCellDef="let x" class="cursor" style="height:40px"> {{ x.finance_document_title
                            }} </td>
                        <td mat-footer-cell *matFooterCellDef class="footer-sum main_bg_color" colspan="6"
                            style="text-align: right !important;">
                            جمع کل واریزی ها:
                            {{ sum2 | number}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> تاریخ </th>
                        <td mat-cell *matCellDef="let x" class="cursor"> {{ x.finance_financial2_date3 }} </td>
                        <td mat-footer-cell *matFooterCellDef class="footer" [hidden]="true"></td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> مبلغ (ریال) </th>
                        <td mat-cell *matCellDef="let x" class="cursor"> {{ x.finance_financial2_amount | number }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="footer" [hidden]="true"></td>
                    </ng-container>


                    <ng-container matColumnDef="for">
                        <th mat-header-cell *matHeaderCellDef> بابت </th>
                        <td mat-cell *matCellDef="let x" class="cursor"> {{ x.payment_for_title }} </td>
                        <td mat-footer-cell *matFooterCellDef class="footer" [hidden]="true"></td>
                    </ng-container>

                    <ng-container matColumnDef="attachment" class="no-print">
                        <th mat-header-cell *matHeaderCellDef class="no-print"> ضمیمه </th>
                        <td mat-cell *matCellDef="let x" class="cursor no-print">
                            <span (click)="get_attachment(x.contract_cost2_id,'contract-invoice')">
                                <mat-icon>attach_file</mat-icon>
                            </span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="footer no-print" [hidden]="true"></td>
                    </ng-container>

                    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let x" [attr.colspan]="columnsToDisplayWithExpand.length"
                            style="padding:0px">
                            <div class="example-element-detail"
                                [@detailExpand]="x == expandedElement ? 'expanded' : 'collapsed'">
                                <div class="example-element-diagram">
                                    <div class="row">
                                        <div class="col-lg-6 col-xl-6 col-sm-6 col-sm-6 col-xs-12">
                                            <div class="example-element-position">
                                                <span class="title">صاحب حساب و بانک مبدا:</span> {{ x.user1_title }}
                                                <span *ngIf="x.bank1_title">/</span>
                                                {{ x.bank1_title }}
                                            </div>
                                            <div class="example-element-position">
                                                <span class="title"> صاحب حساب و بانک مقصد:</span> {{ x.user2_title }}
                                                <span *ngIf="x.bank2_title"></span>
                                                {{ x.bank2_title }}
                                            </div>
                                            <div class="example-element-position">
                                                <span class="title"> شماره پیگیری:</span> {{
                                                x.finance_financial2_tracking_code }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-6 col-sm-6 col-sm-6 col-xs-12">
                                            <div class="example-element-position">
                                                <span class="title"> بابت: </span> {{ x.payment_for_title }}
                                            </div>
                                            <div class="example-element-position">
                                                <span class="right"> نوع تراکنش:</span> {{ x.finance_payment_type_title
                                                }}
                                            </div>
                                            <div class="example-element-position">
                                                <span class="title">توضیحات:</span> {{ x.finance_financial2_comment }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                        class="example-element-row" [class.example-expanded-row]="expandedElement === element"
                        (click)="expandedElement = expandedElement === element ? null : element">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                    <tr mat-footer-row *matFooterRowDef="columnsToDisplayWithExpand"></tr>
                </table>
            </div>
            <!-- **********************************************for cellphone************************************************************** -->
            <div class="row row3" *ngIf="list_record.length > 0">
                <app-contract-invoice3-cellphone [obj]="{ list_record : list_record}"
                    style="padding:0px !important"></app-contract-invoice3-cellphone>
            </div>
            <!-- ************************************************************************************************************ -->
            <div class="row" style="margin:0rem 0 !important;border: solid 1px #ddd;padding:1rem">
                <!-- *************************************************************************************************************-->
                <footer class="container-fluid footer">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="noprint" style="float: left;" class="no-print">
                                <a href="javascript:window.print()" class="btn btn-default print-button"><i
                                        class="icon-printer"></i> پرینت</a>
                            </span>
                            www.truckbama.com
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>