<div class="div_loading" [hidden]="!loading">
    <div class="my-container" class="detaile">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>

<div class="container-fluid detaile-fluid3" style="padding-top:1rem;padding-bottom: 1rem;">
    <div class="container-fluid">
        <div class="row row1">
            <div class="col-xl-3 col-lg-3 col-md-4 col-lg-3 col-xs-12 no-print" style="margin-bottom:1rem">
                <div class="sidebar1 detaile-box2">
                    <div class="container-fluid detaile-fluid1">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 detaile-div2">
                                <div class="detaile-box appy-master">
                                    <div class="detaile-avatar">
                                        <div class="detaile-overflow">
                                            <div class="avatar-bg backgroundImage"
                                                [ngStyle]="{'background-image':'url( ' + user_logo + ')'}">
                                            </div>

                                        </div>
                                        <div class="backgroundImage logo2"
                                            [ngStyle]="{'background-image':'url( ' + user_logo + ')'}">

                                        </div>
                                    </div>
                                    <h3 class="name">{{ title }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-lg-12 col-xs-12 sidebar1 detaile-box2">
                    <div class="menue">
                        <ul>
                            <li routerLinkActive="active" class="cursor" [routerLink]="['/profile/info']"
                                [routerLinkActiveOptions]="{exact: true}">
                                <a>
                                    <i class="fa fa-user"></i>
                                    <span class="nav-label">پنل کاربری من</span>
                                </a>
                            </li>
                            <li routerLinkActive="active" class="cursor">
                                <a>
                                    <i class="fa fa-user"></i>
                                    <span class="nav-label">اطلاعات کامیون های من</span>
                                </a>
                            </li>
                            <li routerLinkActive="active" class="cursor">
                                <a>
                                    <i class="fa fa-user"></i>
                                    <span class="nav-label">اطلاعات کامیون های من</span>
                                </a>
                            </li>
                            <li routerLinkActive="active" class="cursor">
                                <a>
                                    <i class="fa fa-user"></i>
                                    <span class="nav-label">اساسنامه انجمن</span>
                                </a>
                            </li>
                            <li routerLinkActive="active" class="cursor">
                                <a>
                                    <i class="fa fa-user"></i>
                                    <span class="nav-label">مرام نامه اخلاقی انجمن</span>
                                </a>
                            </li>
                            <li routerLinkActive="active" class="cursor">
                                <a>
                                    <i class="fa fa-user"></i>
                                    <span class="nav-label">رای گیری</span>
                                </a>
                            </li>
                            <li routerLinkActive="active" class="cursor">
                                <a>
                                    <i class="fa fa-user"></i>
                                    <span class="nav-label"> پیام ها </span>
                                </a>
                            </li>
                            <li (click)="serverService.signout()" class="cursor">
                                <a>
                                    <i class="fa fa-bank"></i>
                                    <span class="nav-label">خروج</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- ----------------------------------------------------------------- -->

            </div>
            <!-- ************************************************************************************************************* -->
            <div class="col-xl-9 col-lg-9 col-md-8 col-lg-9 col-xs-12 content1">
                <router-outlet></router-outlet>
            </div><!-- col-xl-9 col-lg-9 col-md-9 col-lg-9 col-xs-12 content1 -->
        </div>
    </div>

</div>